$desktop: 1200px;
$notebook: 992px;
$tablet: 768px;
$phone: 320px;


// container
$container : 320px;
$gutter: 20px;


// шрифт
$fontBase: 'Roboto', sans-serif;
$fontExtra: 'Roboto Condensed', sans-serif;
$fontExtra2: 'Saira Extra Condensed', sans-serif;


// img
$imgPath : '../img';


// Цвета

$colorBase:  #e2323d;
$colorExtra: #e2323d;
$colorDark: #000;
$colorLight: #fff;
