$desktop: 1200px;
$notebook: 992px;
$tablet: 768px;
$phone: 320px;


// container
$container : 320px;
$gutter: 10px;


// шрифт
$fontBase: 'Roboto', sans-serif;
$fontExtra: 'Comfortaa', cursive;

// img
$imgPath : '../img';


// Цвета

$colorBase: #f1092a;
$colorExtra: #33be6b;
$colorDark: #000;
$colorLight: #fff;
