@import 'core/_vars.scss';




$container: 320px;
$gutter: 15px;



$imgPath : '../img/mobile';



/* removeIf(mobile) */
@media only screen and (max-width: $notebook - 1px){
/* endRemoveIf(mobile) */

    @import 'libs/orb/_orb.scss';

    body,html{
        font-family: $fontBase;
        
    }





    .container{
        max-width: $container;
    }









@import 'styles/mobile/_m--modules.scss';
@import 'styles/mobile/_m--sections.scss';



    .only{
        &-mobile{
            display: block;
        }
        &-desktop{
            display: none;
        }
    }




/* removeIf(mobile) */
}
/* endRemoveIf(mobile) */
