
// libs

@import 'libs/orb/_orb.scss';

//@import 'libs/normalize/_normalize.scss';
//@import 'libs/_slick.scss';




// core

@import 'core/_var.scss';
@import 'core/_base.scss';
@import 'core/_sprite.scss';
//@import 'sprites/fire/mobile/_fire.scss';







// Общие модули
@import 'styles/mobile/_modules.scss';

// Готовые модули

//@import 'modules/_field.scss';
//@import 'modules/_button.scss';


@import 'styles/mobile/_sections.scss';




.only{
	&-mobile{
		display: block;
	}
	&-desktop{
		display: none;
	}
}






.fire-1{
	width: 120px;
	height: 220px;
	background-color: red;
	background: no-repeat center / contain;
	background-image: url(mobile-5.png);
}