.header{
	opacity: .99;
	position: relative;
	// top ===========
	.container{
		padding-top: 0;
	}

	&__top{
		&-grid{

		}

		&-part{
			&:first-of-type{
				width: 400px;
			}
			&:last-of-type{
				vertical-align: middle;
			}
		}
	}


	.menu{
		margin-left: -100px;
		position: relative;
	}



	&__rang{
		text-align: right;
	}




	// content
	
	&__content{
		&-grid{
			margin-top: -120px;
		}
		&-part{
			padding: 0 100px;
			&:first-of-type{
				padding-top: 100px;
				padding-left: 0;
			}
			&:last-of-type{
				text-align: right;
				padding-right: 0;
			}
		}
	}

	.skills--desk{
		margin-bottom: 20px;
	}


	.price{
		margin-bottom: 0;
	}

	.button{
		margin-bottom: 0;
		width: auto;
		max-width: 320px;
		&__text{
			padding: 14px 40px 15px;
		}
	}


	.prod{
		top: auto;
		max-width: 193px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		z-index: 10;
		.sale{
			right: 10px;
		}
	}

	&__controll-part{
		&:first-of-type{
		
		}
		&:last-of-type{
			text-align: right;
		}
	}

}



.header,
.header .container{
		&:before,&:after{
			content: '';
			display: block;
			bottom: 0;
			background: no-repeat center / contain;
			position: absolute;
			z-index: -1;
		}

		&:before{
			left: -400px;
			background-image: url(#{$imgPath}/lines-2.png);
			width: 1055px;
			height: 640px;
		}

		&:after{
			right: -400px;
			background-image: url(#{$imgPath}/lines-3.png);
			width: 760px;
			height: 378px;
		}
}

.header{
	&:before,&:after{
		display: none;
	}

	&:before{
		left: 0;
	}

	&:after{
		right: 0;
	}
}








.s-prof{

	.container{
		padding-top: 70px;
		padding-bottom: 70px;
	}

	&__top{
		margin-bottom: 40px;
	}

	.title{
		font-size: 44px;
	}
	&__grid{
		font-size: 0;
	}

	&__part{
		font-size: 18px;
		display: inline-block;
		width: 100%;
		max-width: 50%;
		vertical-align: top;
		&:first-of-type{
			max-width: 65%;
			padding-right: 100px;
			padding-top: 8px;
		}
		&:last-of-type{
			display: inline-block;
			max-width: 35%;
		}
	}




	&__item{
		margin-bottom: 0;
		border-bottom: 0;
		padding: 10px;
		padding-bottom: 30px;
		position: relative;
		&:first-of-type{
			padding-left: 0;
			.block{
				right: auto;
			}
		}
		&:last-of-type{
			padding-right: 0;
		}
	}

	.block{
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: calc(100% - 30px);
	}

	&__caption{
		position: relative;
		padding-left: 70px;
		padding-top: 16px;
		min-height: 60px;
	}

	.num{
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__photo{
		display: block;
		margin-bottom: 20px;
	}


}








.s-hand{
	background: #fff no-repeat center / cover;
	background-image: url(#{$imgPath}/bg.jpg);
	.container{
		padding-bottom: 0;
		&:before{
			display: none;
		}
	}
	.name{
		font-size: 90px;
		text-align: right;
		padding-left: 100px;
	}
	.title{
		color: $colorExtra;
		font-size: 48px;
	}


	&__part{
		&:first-of-type{
			padding-right: 50px;
			padding-bottom: 70px;
		}
		&:last-of-type{
			
		}
	}


	.hand{
		z-index: 1;
		left: 110px;
	}

	.cover{
		min-height: 276px;
		margin-left: 15px;
	}

	&__top{
		min-height: 238px;
	}

	&__content{
		padding-bottom: 90px;
		min-height: 366px;
	}

	.prod{
		position: absolute;
		bottom: 40px;
		left: 0;
		max-width: 190px;
	}
}








.s-doc{
	background-color: #fff;

	.container{
		padding-top: 40px;
		padding-bottom: 60px;
	}
}


.s-doc,
.s-doc .container{
	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 1088px;
		background: no-repeat center / cover;
		background-image: url(#{$imgPath}/woman.jpg);
		z-index: -1;
		right: -530px;
	}
}

.s-doc{
	&:before{
		display: none;
		right: 0;
	}
}







.s-tooth{
	position: relative;
	z-index: 1;
	.container{
		padding-top: 70px;
		padding-bottom: 70px;
		position: relative;
		&:before{
			content: '';
			display: block;
			width: 1995px;
			height: 407px;
			position: absolute;
			bottom: 0;
			left: -500px;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/lines-4.png);
		}

	}

	.title{
		font-size: 36px;
	}

	&__inner{
		padding-left: 350px;
		position: relative;
		min-height: 243px;
	}

	.prod{
		position: absolute;
		bottom: -120px;
		max-width: 206px;
		left: 0;
		&:before,&:after{
			content: '';
			display: block;
			position: absolute;
			background: no-repeat center / contain;
		}
		&:before{
			width: 412px;
			height: 427px;
			background-image: url(#{$imgPath}/water.png);
			top: 0;
			right: -170px;
			z-index: -1;
		}
		&:after{
			width: 219px;
			height: 268px;
			background-image: url(#{$imgPath}/tooth-2.png);
			bottom: -10px;
			right: -130px;
		}
	}
}







.s-review{
	opacity: .99;
	.container{
		padding-top: 122px;
		padding-bottom: 122px;
		&:before{
			content: '';
			display: block;
			z-index: -1;
			position: absolute;
			top: 0;
			left: -597px;
			width: 2000px;
			height: 623px;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/lines-5.png);
		}
	}
}











.s-how{
	.container{
		padding-top: 80px;
		padding-bottom: 80px;
		&:before{
			content: '';
			display: block;
			z-index: -1;
			position: absolute;
			bottom: 0;
			left: -513px;
			width: 2000px;
			height: 623px;
			transform: rotate(180deg);
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/lines-5.png);
		}
	}

	.title{
		font-size: 48px;
		color: $colorExtra;
		line-height: 1;
	}

	&__inner{
		padding-left: 170px;
		position: relative;
	}

	&__top{
		margin-bottom: 30px;
		padding-left: 30px;
	}

	&__grid{
		.frame{
			margin-bottom: 10px;
		}
	}

	&__part{
		padding: 0 10px;
		&:first-of-type{
			padding-left: 0;
		}
		&:last-of-type{
			padding-right: 0;
		}
	}


	.prod{
		position: absolute;
		top: 60px;
		left: -5px;
		max-width: 185px;
	}
}









.s-form{
	opacity: .99;
	.container{
		padding-top: 50px;
		padding-bottom: 40px;
		&:before,&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			background: no-repeat center / contain;
		}
		&:before{
			z-index: -1;
			left: -513px;
			width: 2000px;
			height: 623px;
			transform: rotate(180deg);
			background-image: url(#{$imgPath}/lines-5.png);
		}

		&:after{
			left: 140px;
			width: 756px;
			height: 585px;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/woman-2.png);
			z-index: -1;
		}
	}



	&__top{
		text-align: right;
		padding-left: 241px;
	}

	.name{
		text-align: inherit;
		font-size: 90px;
		margin-bottom: 0px;
	}

	.title{
		text-align: inherit;
		font-size: 30px;
	}

	&__prod{
		position: absolute;
		bottom: 50px;
		left: 0;
		z-index: -1;
	}

	.prod{
		.sale{
			top: -44px;
			left: 130px;
		}

		.label{
			top: 30px;
			right: -130px;
		}
	}

	.counter{
		display: inline-block;
		margin-bottom: 0;
	}

	&__grid{
		height: 1px;
		min-height: 558px;
	}

	&__part{
		text-align: right;
		vertical-align: bottom;
		&:first-of-type{
			padding-right: 30px;
			
		}
		&:last-of-type{
			
			width: 380px;
		}
	}
}






.s-mac{
	.container{
		padding-top: 50px;
		padding-bottom: 50px;
		&:before{
			content: '';
			display: block;
			z-index: -1;
			position: absolute;
			bottom: 0;
			transform: rotate(180deg);
			left: -597px;
			width: 2000px;
			height: 623px;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/lines-5.png);
		}
	}
	&__top{
		font-size: 28px;
	}

	&__content{
		position: relative;
	}


	.title{
		font-size: 48px;
		margin-bottom: -10px;
	}

	.name{
		font-size: 90px;
		margin-bottom: 20px;
	}

	.prod{
		position: absolute;
		bottom: 38px;
		right: 50px;
		z-index: 10;
		max-width: 230px;
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			right: -65px;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/atom.png);
			width: 160px;
			height: 222px;
		}
	}
}



.s-delivery{
	opacity: .99;
	.container{
		padding-top: 50px;
		padding-bottom: 50px;
		&:before{
			content: '';
			display: block;
			z-index: -1;
			position: absolute;
			bottom: 0;
			left: -513px;
			width: 2000px;
			height: 623px;
			transform: rotate(180deg);
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/lines-5.png);
		}
	}
	&__part{
		&:first-of-type{
			padding-right: 32px;
		}
		&:last-of-type{
			padding-left: 30px;
		}
	}

	.title{
		font-size: 48px;
	}

	.name{
		font-size: 92px;
		margin-bottom: 0;
	}

	&__info{
		font-size: 30px;
	}

	&__content{
		margin-bottom: 50px;
	}
}