$desktop: 1200px;
$notebook: 992px;
$tablet: 768px;
$phone: 320px;


// container
$container : 320px;
$gutter: 15px;


// шрифт
$fontBase: 'Roboto', sans-serif;


// img
$imgPath : '../img';


// Цвета

$colorBase:  #2aaee4;
$colorExtra: #e0a8ce;
$colorDark: #333;
$colorLight: #fff;
