$desktop: 1200px;
$notebook: 992px;
$tablet: 768px;
$phone: 320px;


// container
$container : 320px;
$gutter: 10px;


// шрифт
$fontBase: 'Roboto', sans-serif;
$fontExtra: 'Play', sans-serif;


// img
$imgPath : '../img';


// Цвета

$colorBase:  #00529e;
$colorExtra: #e59231;
$colorDark: #000;
$colorLight: #fff;
