section.s-book
  .container
    h2.title.title--border
      span.title__text.t--imp(data-xd!='anzqxCi-5')
        | Micellar
      span.title__text(data-xd!='BNszcHN-6')
        | water
      .title__info(data-xd!='nnufdgy-7')
        | care of subcutaneous level
    .s-book__content
      p.text(data-xd!='rRiEAFS-9')
        | The discovery of the revolutionary molecule, micelles - the basis of Micellar water, has become a breakthrough in the modern cosmetology.
    .book
      ul.book__grid
        li.book__part
          p.text.book__toptext(data-xd!='uBKywjn-13')
            | The discovery of the revolutionary molecule micelles - the basis of Micellar water, has become a breakthrough in modern cosmetology.
          .magnet
            h4.magnet__title(data-xd!='hoHuLdG-15')
              | These microparticles work as
              b.t--imp MAGNET
            p.magnet__text.text(data-xd!='kHrNYvk-17')
              | they pull the impurities from the skin and keep them to themselves.
        li.book__part
          .micel
            .micel__img
            .micel__info
              span.micel__text(data-xd!='CLCMaln-22')
                | Micelles
              span.micel__text(data-xd!='EQhWghU-23')
                | Impurities
          p.text(data-xd!='MLRaQFo-24')
            span.t--imp Micelles
            | cleanse the skin not only after effects of cosmetics but also from surplus sebum, toxins, and free radicals.