section.s-consist
  .container
    h2.title.title--border
      span.title__text.t--imp(data-xd!='IqJWBvC-5')
        | Micellar
      span.title__text(data-xd!='ENAKjiv-6')
        | water
      .title__info(data-xd!='UZjVTEE-7')
        | safe and effective
        span.only-mobile 100% natural components
    .natural.only-desktop
      .natural__inner
        span.natural__num(data-xd!='OZqlQDW-11')
          | 100%
        span.natural__text(data-xd!='aruRTew-12')
          | natural components
    .s-consist__inner
      .s-consist__grid
        .s-consist__part
          ul.consists
            li.consist.consist--yellow
              .band
                .band__inner
                  p.text(data-xd!='MBtCZdU-20')
                    | FRESHNESS AND YOUTH
              ul.list.list--disk
                li.list__item
                  .list__part
                    span.list__ball
                  .list__part  
                    p.text.text--dark(data-xd!='wuuqJnQ-26')
                      | The extract of unrefined
                      span.t--imp.t--bold Argan oil activates the production of protein.
                li.list__item
                  .list__part
                    span.list__ball
                  .list__part  
                    p.text.text--dark(data-xd!='HqLAjDT-32')
                      | A high level of protein in the skin does not allow wrinkles to be formed and eliminates imperfections of pigments at the level of the dermis.
              .num
                .num__dash
                i.ico.i-argan
                .num__inner
                  .num__border
                  p.text(data-xd!='IXQCZmg-38')
                    | 1
            li.consist.consist--green
              .band
                .band__inner
                  p.text(data-xd!='YEniHpZ-42')
                    | KIVI-ANTIOXIDANT
              ul.list.list--disk
                li.list__item
                  .list__part
                    span.list__ball
                  .list__part  
                    p.text.text--dark(data-xd!='ZCazlSs-48')
                      span.t--imp.t--bold Extract of kiwi accelerates the process of division and maturation of keratinocytes
                      | in the subcutaneous layer of fat.
                li.list__item
                  .list__part
                    span.list__ball
                  .list__part  
                    p.text.text--dark(data-xd!='REJQvZr-54')
                      | These cells form the basis of the skin and are responsible for the production of healthy pigments.
                li.list__item
                  .list__part
                    span.list__ball
                  .list__part  
                    p.text.text--dark(data-xd!='KtQNFNL-59')
                      | The result is a fresh and healthy tone of the face.
              .num
                .num__dash
                i.ico.i-kiwi-2
                .num__inner
                  .num__border
                  p.text(data-xd!='XrlildZ-65')
                    | 2
            li.consist.consist--blue
              .band
                .band__inner
                  p.text(data-xd!='LYUUhgz-69')
                    | Moisturizing
              ul.list.list--disk
                li.list__item
                  .list__part
                    span.list__ball
                  .list__part  
                    p.text.text--dark(data-xd!='ShVvggt-75')
                      span.t--imp.t--bold Olive extract
                      | nourishes the skin and maintains the necessary level of moisture in the tissues.
                li.list__item
                  .list__part
                    span.list__ball
                  .list__part  
                    p.text.text--dark(data-xd!='CeMnLHx-81')
                      | Extract of the olive seeds creates a weightless film barrier, protecting the skin from the negative influence of the external environment.
              .num
                .num__dash
                i.ico.i-oliva
                .num__inner
                  .num__border
                  p.text(data-xd!='qzSRHjL-87')
                    | 3
        .s-consist__part
          //removeIf(mobile)
          .prod
            img.prod__img(src!="img/desktop/prod.png" alt!="")
          //endRemoveIf(mobile)
    .card
      ul.card__grid
        li.card__part
          .gmo
            .gmo__inner
              h4.gmo__title(data-xd!='emVuGBe-96')
                | Important
              p.text.t--light.t--ttu(data-xd!='EkbMvge-97')
                | Hypoallergenic and non-toxic
        li.card__part
          .calendar
            .calendar__skew
            .calendar__inner
              p.text(data-xd!='rwosvDV-102')
                | Minimum duration of use
                span.t--bold.t--imp 4 weeks