section.s-review
  .container
    h2.title.title--border
      span.title__text.t--imp(data-xd!='ooLkwvm-5')
        | WHAT DO
      span.title__text(data-xd!='sDoqmrV-6')
        | WOMEN SAY,
      .title__info(data-xd!='PLMuYoZ-7')
        | who already used
        b.t--bold the MICELLAR WATER
        | :
    ul.reviews.bxslider
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-5
              .box
                .box__inner
                  span.user__name(data-xd!='LKAkCNL-19')
                    | Olivia
                  span.user__age(data-xd!='qPSQOKw-20')
                    | 27 years
          .review__part
            .review__content
              p.text(data-xd!='WOYxIUM-23')
                | I really like micellar water. I have tried many different things, but this is simply a WOW! It looks like usual water, but it replaces a lot of nurturing aids. And since I'm constantly on business trips - for me Micellar Water is just a blessing in a little bottle. Among other things, I have noticed that my face has become tighter. I carry it always in my bag, and during the day at any convenient time, I wipe my face.
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-4
              .box
                .box__inner
                  span.user__name(data-xd!='cxbKpbd-33')
                    | Julie
                  span.user__age(data-xd!='tPKCsEr-34')
                    | 33 years
          .review__part
            .review__content
              p.text(data-xd!='SDOjpRo-37')
                | Earlier, I suffered from acne, which left many dark spots on my face, I was not able to remove them by anything. I had to use dark tone to level the complexion. And I like light colour skin, almost like porcelain. The cosmetologist advised me to try Micellar Water. I did not really expect to get a result from this usual micellar water ... But I was wrong. Now my face is clean and white, no stains. Advise it to everyone.
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-3
              .box
                .box__inner
                  span.user__name(data-xd!='UWWGUar-47')
                    | Evelyn
                  span.user__age(data-xd!='ZPazvsm-48')
                    | 26 years
          .review__part
            .review__content
              p.text(data-xd!='MJROrFj-51')
                | I have a very oily skin, and mattifying creams block the pores so much that acne formation starts. Micellar Water does an excellent job - everything works. I use it in the morning and in the evening. My face has become evener. I almost do not use tonal cream.
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-2
              .box
                .box__inner
                  span.user__name(data-xd!='ifWYOSO-61')
                    | Hannah
                  span.user__age(data-xd!='ILWpAND-62')
                    | 31 years
          .review__part
            .review__content
              p.text(data-xd!='RuLuoTn-65')
                | I do not like fair skin, I always get sunburn. True, pigmentation, in this case, can not be avoided, but Micellar Water helps. The product does not say that it has SPF protection, but on the beach, I constantly rub it. In this season I do not look like leopard, and the skin is soft, moistened, even if I am in the sun all day. Also, I use it as a base under my makeup, and it remains whole day without the shine.
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-1
              .box
                .box__inner
                  span.user__name(data-xd!='ZBTBRsv-75')
                    | Irene
                  span.user__age(data-xd!='ISTmrRt-76')
                    | 37 years
          .review__part
            .review__content
              p.text(data-xd!='RzUOHcR-79')
                | I like Micellar Water. It mattifies my face delicately, not overdrying the skin. Finally, I got rid of swelling and dark circles under the eyes - it is thanks to the kiwi, present in the composition. My face always shines with freshness, pleasant to touch, I constantly want to touch it, although I know that hands could be full of microbes. In general - it is a good product, I will use it again.