.form__wrap
	form(method='POST' action='#').form#toform
		.form__title(data-xd='text100') Оформление заказа
		.counter
			.counter__inner
				span.counter__text(data-xd='text101') Осталось всего:
				span.counter__num.count-down(data-xd='text102') 23
			.counter__info(data-xd='text103') товаров по акции
		.form__inner
			.form__field-wrap
				.field
					.field__select-wrap
						.field__arrow
						select#country_code_selector.field__select.field__part(name='country_code')
							option(value='RU' data-xd='text104') Россия
				.field
					input.field__input.field__part(type='text' name='name' placeholder='Ваше имя')
				.field
					input.field__input.field__part.only_number(type='text' name='phone' placeholder='Номер телефона')
				.field.field__info
					.field__row
						.field__text.field__label(data-xd='text201') Старая цена:
						.field__number.field__label(data-xd='price1') {{ old_price }} {{ currency }}
					.field__row
						.field__text.field__label(data-xd='text202') Цена:
						.field__number.field__label(data-xd='price2') {{ price }} {{ currency }}
					.field__row
						.field__text.field__label(data-xd='text203') Доставка:
						.field__number.field__label(data-xd='price3') {{ shipment_price }} {{ currency }}
					.field__row
						.field__text.field__label(data-xd='text204') Итого:
						.field__number.field__label(data-xd='price4') {{ total_price|int }} {{ currency }}
			.button
				button.button__text.js_submit(data-xd='button') 
					|Заказать 
					span.text--ttu.text--bold сейчас