section.s-comments
  h4.title Комментарии
  ul.comments
    li.comment
      p 1
    li.comment
      p 2
    li.comment
      p 3
    li.comment
      p 4
    li.comment
      p 5
    li.comment
      p 6
