extends ../_template
block variables
	- pageTitle = 'Denta Seal'
block content
	//- include ../sections/_modules
	include ../sections/_header
	include ../sections/_s-prof
	include ../sections/_s-hand
	include ../sections/_s-mac
	include ../sections/_s-doc
	include ../sections/_s-tooth
	include ../sections/_s-review
	include ../sections/_s-how
	include ../sections/_s-delivery
	include ../sections/_s-form
	ul#video_sub(style='display: none')
		li(data-sub='DentaSeal')
			span(data-sub-start='11.3', data-sub-end='16') В основе инновационной технологии, лежит принцип использования наночастиц гидроксиоапатита,
			span(data-sub-start='16.3', data-sub-end='22') которые являются природными компонентами зубной эмали, тем самым обеспечивается их полная интеграция с эмалью.
			span(data-sub-start='22.3', data-sub-end='28') Уникальные свойства частиц помогают защитить чувствительность зубов и вернуть им белезну.
			span(data-sub-start='28.3', data-sub-end='34') Каким образом наночастицы гидроксиоапатита позволяют восстановить поврежденную эмаль зубов?
			span(data-sub-start='34.3', data-sub-end='40') Повышенная чувствительность зубов обычно вызывается истончением эмали или рецессией десен
			span(data-sub-start='43', data-sub-end='47') при этом дентин остается без защитного покрытия.
			span(data-sub-start='47.5', data-sub-end='52') Поскольку дентинные канальцы обнажены, нервные окончания попадают под воздействие внешних раздражителей 
			span(data-sub-start='52.6', data-sub-end='55') возникает БОЛЬ.
			span(data-sub-start='58', data-sub-end='63') Наночастицы гидроксиоапатита запечатывают открытые дентинные канальцы
			span(data-sub-start='63.3', data-sub-end='66') и защищают пульпу от воздействия внешних раздражителей
			span(data-sub-start='66.3', data-sub-end='70') предотвращая таким образом возникновение боли.
			span(data-sub-start='72', data-sub-end='78') Сразу после нанесения, образуется стойкое защитное покрытие, обеспечивающее снижение чувствительности зубов.
			span(data-sub-start='81', data-sub-end='85') Каким образом наночастицы гидроксиоапатита позволяют восстановить белизну эмали?
			span(data-sub-start='85.3', data-sub-end='93') Поврежденная, растрескавшаяся эмаль тускнеет и становится темнее, поскольку свет хуже отражается от поверхности зуба.
			span(data-sub-start='94', data-sub-end='102') Наночастицы гидроксиоапатита заполняют неровности на эмали и создают гладкую яркую поверхность,
			span(data-sub-start='102.2', data-sub-end='107') возвращая зубам их природный белый цвет

