header.header
  .container
    .header__block
    h1.logo
      //removeIf(mobile)
      .logo__part.only-desktop-t
        img.logo__img(src!="img/desktop/logo.png" alt!="")
      //endRemoveIf(mobile)
      .logo__part
        span.logo__text(data-xd!='rZplwcd-9') NANO 
        span.logo__text(data-xd!='zxPbePD-10') SAPPHIRE
    h2.toptitle
      span.toptitle__top(data-xd!='bxtOgQL-12') Надежный щит
      span.toptitle__bottom(data-xd!='WYcxLnq-13') Для твоего гаджета
    //removeIf(mobile)
    .skills.only-desktop
      .skills__part
        ul.list
          li.list__item
            .list__part
              i.ico.i-mark
            .list__part
              p.text(data-xd!='VgReOyd-21') #[b.t--imp.t--bold.t--block Защищает экран] при падении и ударах
          li.list__item
            .list__part
              i.ico.i-mark
            .list__part
              p.text(data-xd!='pdIkeoa-27') Удаляет и  #[b.t--imp.t--bold.t--block предовращает царапины]
      .skills__part
        ul.list
          li.list__item
            .list__part
              i.ico.i-mark
            .list__part
              p.text(data-xd!='DMVOzJb-35') #[b.t--imp.t--bold.t--block Улучшает работу] Touch screen
          li.list__item
            .list__part
              i.ico.i-mark
            .list__part
              p.text(data-xd!='aHdaauZ-41') Упаковки хватит #[b.t--imp.t--bold.t--block на 10 экранов]
    //endRemoveIf(mobile)
    .header__grid
      .header__part
        //removeIf(mobile)
        .form__wrap.only-desktop
          form.form(method!='POST' action!='#')
            .form__title(data-xd!='dMwCBaH-47') Оформление заказа
            .form__inner
              .form__field-wrap
                .field
                  .field__select-wrap
                    .field__arrow
                    select#country_code_selector.field__select.field__part(name!='country_code' data-xd!='rsqbSFg-53')
                      option(value!='RU') Россия
                .field
                  input.field__input.field__part(type!='text' name!='name' placeholder!='Ваше имя')
                .field
                  input.field__input.field__part.only_number(type!='text' name!='phone' placeholder!='Номер телефона')
                .field.field__info
                  .field__row
                    .field__text.field__label(data-xd!='eNiLVyC-61') Доставка:
                    .field__number.field__label(data-xd!='meFMTFJ-62') {{ shipment_price }} {{ currency }}
                  .field__row
                    .field__text.field__label(data-xd!='XtDLUTM-64') Итого:
                    .field__number.field__label(data-xd!='xAPmKWO-65') {{ total_price|int }} {{ currency }}
              .button
                button.button__text.js_submit(data-xd!='ycDHniV-67')  
                  | Заказать Сейчас
        //endRemoveIf(mobile)
      .header__part
        .sale__wrap
          .prod
            //removeIf(desktop)
            img.prod__img.only-mobile(src!="img/prod.png" alt!="")
            //endRemoveIf(desktop)
            //removeIf(mobile)
            img.prod__img.only-desktop(src!="img/desktop/prod.png" alt!="")
            //endRemoveIf(mobile)
          .sale
            span.angle.angle__left.only-mobile
              svg(version!='1.1' xml:space!='preserve' viewbox!='0 0 100 100' preserveaspectratio!='none')
                polygon(points!='0,50 30,0 100,0 50,100  30,100')
                defs
                  linearGradient#arrowGradient-left(x1!="100%" x2!="0" y1!="100%" y2!="0")
                    stop.sale__stop-1(offset!="5%")
                    stop.sale__stop-2(offset!="95%")
            span.angle.angle__right.only-desktop
              svg(version!='1.1' xml:space!='preserve' viewbox!='0 0 100 100' preserveaspectratio!='none')
                polygon(points!='0,0 60,0 100,50 60,100 30,100')
                defs
                  linearGradient#arrowGradient-right(x1!="25%" y1!="0%" x2!="75%" y2!="100%")
                    stop(offset!="0%" style!="stop-color:rgb(253,83,117);stop-opacity:1")
                    stop(offset!="49%" style!="stop-color:rgb(251,58,96);stop-opacity:1")
                    stop(offset!="100%" style!="stop-color:rgb(251,52,91);stop-opacity:1")
            .sale__inner
              .sale__part
                p.sale__num(data-xd!='LlfdbDQ-91') 50
              .sale__part
                p.sale__perc(data-xd!='GLRzbnS-93') %
                p.sale__text(data-xd!='AGHSUuZ-94') скидка
        .price
          del.price__item.price__old(data-xd!='kJfzmGi-96')  
            | {{old_price}}
            span.price__cur {{currency}}
          p.price__item.price__new(data-xd!='VLMOlcX-98')
            | {{price}}
            span.price__cur {{currency}}
    .button.toform.only-mobile
      button.button__text(data-xd!='wfZbXBv-101') Заказать сейчас
    .skills.only-mobile
      .skills__part
        ul.list
          li.list__item
            .list__part
              i.ico.i-mark
            .list__part
              p.text(data-xd!='qXbUYoz-109') #[b.t--imp.t--bold.t--block Защищает экран] при падении и ударах
          li.list__item
            .list__part
              i.ico.i-mark
            .list__part
              p.text(data-xd!='YQGEYhC-115') Удаляет и  #[b.t--imp.t--bold.t--block предовращает царапины]
      .skills__part
        ul.list
          li.list__item
            .list__part
              i.ico.i-mark
            .list__part
              p.text(data-xd!='KVqNIsg-123') #[b.t--imp.t--bold.t--block Улучшает работу] Touch screen
          li.list__item
            .list__part
              i.ico.i-mark
            .list__part
              p.text(data-xd!='ouwcHul-129') Упаковки хватит #[b.t--imp.t--bold.t--block на 10 экранов]