header.header
  .header__container
    .header__grid
      .header__part
        .label.only-desktop
          .arrow__wrap
            span.angle.arrow--border
              svg(version!='1.1' xml:space!='preserve' viewbox!='0 0 100 100' preserveaspectratio!='none')
                polyline(points!="0 0, 90 50, 0 100")
            .arrow
              +angle('right')
              .arrow__inner(data-xd!='header-1') Осталось товаров #[br] на складе: #[span.count-down.label__count 20]
      .header__part
        .header__top
          .container
            h1.toptitle(data-xd!='header-2') Платите в 2 раза #[span.toptitle__imp.t--imp меньше!]
            .prod__wrap.only-mobile
              .prod
                .sale
                  .sale__inner(data-xd!='header-3')
                    p.sale__num 50%
                    p.sale__text Скидка
                img(src!="img/prod.png" alt!="")
            .subtitle__wrap
              .subtitle
                .arrow
                  +angle('left')
                  .arrow__inner(data-xd!='header-4')
                    h2.subtitle__top Power Box
                    h3.subtitle__bottom Простой способ экономии электроэнергии
            .button__wrap.only-mobile
              .button.toform
                button.button__text(data-xd!='header-5') Заказать сейчас
        .header__bottom
          .container
            .arrow.skills__arrow
              +angle('left')
              .arrow__inner
                ul.skills
                  li.skill
                    .skill__grid
                      .skill__part
                        i.ico.i-fork
                      .skill__part(data-xd!='header-6')
                        p.text.skill__head Снижает потребление
                        p.text.skill__text электроэнергии до 45%
                  li.skill
                    .skill__grid
                      .skill__part
                        i.ico.i-fork-2
                      .skill__part(data-xd!='header-7')
                        p.text.skill__head Продлевает
                        p.text.skill__text службу техники
                  li.skill
                    .skill__grid
                      .skill__part
                        i.ico.i-tor
                      .skill__part(data-xd!='header-8')
                        p.text.skill__head Защищает от
                        p.text.skill__text перепадов энергии
      //removeIf(mobile)
      .header__part
        .form__wrap.only-desktop(data-xd!='header-9')
          form.form(method!='POST' action!='#')
            .price
              .price__inner
                p.price__text(data-xd!='RDltExb-67') Старая цена: 
                del.price__old(data-xd!='xZFeToU-68') {{old_price}} {{currency}}
                .price__new(data-xd!='kNBARfj-69') {{price}} {{currency}}
              +angle('bottom')
            .form__title(data-xd!='GtqRWte-70') Оформление заказа
            .form__inner
              .form__field-wrap
                .field
                  .field__select-wrap
                    .field__arrow
                    select#country_code_selector.field__select.field__part(name!='country_code')
                      option(value!='RU' data-xd!='GNdskTd-77') Россия
                .field
                  input.field__input.field__part(type!='text' name!='name' placeholder!='Ваше имя')
                .field
                  input.field__input.field__part.only_number(type!='text' name!='phone' placeholder!='Номер телефона')
                .field.field__info
                  .field__row
                    .field__text.field__label(data-xd!='ZQkQPtr-84') Доставка:
                    .field__number.field__label(data-xd!='RJegpnF-85') {{ shipment_price }} {{ currency }}
                  .field__row
                    .field__text.field__label(data-xd!='YlIdEAr-87') Итого:
                    .field__number.field__label(data-xd!='aZqIrzE-88') {{ total_price|int }} {{ currency }}
              .button
                button.button__text.js_submit(data-xd!='JLKpvTH-90')  
                  | Заказать сейчас
              .prod.only-desktop
                .sale
                  .sale__inner
                    p.sale__num(data-xd!='uUgeBhC-94') 50%
                    p.sale__text(data-xd!='zvqcjed-95') Скидка
                img.only-desktop(src!="img/desktop/prod.png" alt!="")
      //endRemoveIf(mobile)