style.
  body{
    background: #000;
  }

  .row{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }

  .center{
    text-align: center;
  }

  .modules{
    margin-top: 50px;
  }


section.modules
  .row
    .container
      h2.logo Alfa man


  .row
    .container
      .promo
        h2.logo Alfa man
        .text.promo__text Сильная #[span.color-base эрекция] и долгий #[span.color-base секс]


  .row
    .container
      ul.list.list--skills
        li.list__item
          .grid.list__grid
            .part.list__part 1
            .part.list__part 2