style.
  body{
    background: pink;
  }

  .row{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
  }

  .center{
    text-align: center;
  }

  .modules{
    margin-top: 50px;
  }


section.modules
  .row
    .container
      h1 Привет! Я готов к верстке12123!


  .row
    .container
      .round
        .round__inner.photo.photo-1
  .row
    .container
      i.ico.ico-12
