section.s-book
  .container
    h2.title.title--border
      span.title__text.t--imp(data-xd!='anzqxCi-5') Micellar 
      span.title__text(data-xd!='BNszcHN-6') water
      .title__info(data-xd!='nnufdgy-7') уход межклеточного уровня
    .s-book__content
      p.text(data-xd!='rRiEAFS-9') Открытие революционной молекулы мицеллы - основы Micellar&nbsp;water, стало прорывом современной косметологии.
    .book
      ul.book__grid
        li.book__part
          p.text.book__toptext(data-xd!='uBKywjn-13') Открытие революционной молекулы мицеллы - основы Micellar water, стало прорывом современной косметологии.
          .magnet
            h4.magnet__title(data-xd!='hoHuLdG-15') Эти микрочастицы работают как #[b.t--imp магнит]
            p.magnet__text.text(data-xd!='kHrNYvk-17') вытягивают из кожи загрязнения и удерживают их в себе.
        li.book__part
          .micel
            .micel__img
            .micel__info
              span.micel__text(data-xd!='CLCMaln-22') Мицеллы
              span.micel__text(data-xd!='EQhWghU-23') Загрязнения
          p.text(data-xd!='MLRaQFo-24') #[span.t--imp Мицеллы] очищают кожу  не только от косметики, но и от излишков себума, токсинов и свободных радикалов.