//removeIf(mobile)
section.s-break.only-desktop
  .container
    .s-break__content
      h2.title(data-xd!='oZhvbUu-5') Кому нужен 
        span.title__name Nano Saphire
      ul.tile
        li.tile__item
          .box
            h3.box__title
              span.box__num(data-xd!='OqeEmoJ-11') 50%
            p.text(data-xd!='TugtZgE-12') владельцев смартфонов / планшетов хотя бы 1 раз в жизни разбивали экран своего девайса
        li.tile__item
          .box
            h3.box__title
              span.box__num(data-xd!='GeVYRXU-16') 85%
            p.text(data-xd!='IOlMhqT-17') из них НЕ меняют разбитый экран из-за высокой стоимости ремонта
        li.tile__item
          .box
            h3.box__title
              span.box__num(data-xd!='ZRziumF-21') 92%
            p.text(data-xd!='GKaPYXy-22') починенных гаджетов имеют проблемы с жидкокристаллическим экраном и touch screen
        li.tile__item
          .box
            h3.box__title(data-xd!='JVvoBOu-25') От #[span.box__num 5] до #[span.box__num 20]
            p.text(data-xd!='zmQbjUX-28') тысяч рублей - средняя стоимость замены экрана для популярных моделей
    .lent
      .lent__grid
        .lent__part
          .aim
            .aim__border
            .aim__inner
              p.aim__text.text(data-xd!='ySuDoGS-35') Стоимость
              h2.aim__title(data-xd!='eTVSzKg-36') замены экрана
              span.aim__after(data-xd!='oiyeDOZ-37') у разных устройств: 
        .lent__part
          .price-list
            ul.price-list__row
              li.price-list__part  
                p.text.price__text(data-xd!='rZCMQtv-42') iPhone 6
              li.price-list__part(data-xd!='KcgOEhH-43') 7 000 {{currency}}.
            ul.price-list__row
              li.price-list__part  
                p.text.price__text(data-xd!='wvQmeHb-46') iPhone 6+
              li.price-list__part(data-xd!='mAgpdTB-47') 11 500 {{currency}}.
            ul.price-list__row
              li.price-list__part
                p.text.price__text(data-xd!='oMisqhk-50') Samsung Galaxy S6
              li.price-list__part(data-xd!='MRMPVlo-51') 11 500 {{currency}}.
            ul.price-list__row
              li.price-list__part
                p.text.price__text(data-xd!='XLNOBRr-54') iPad Air 2
              li.price-list__part(data-xd!='kDiKvwj-55') 12 000 {{currency}}.
            ul.price-list__row
              li.price-list__part
                p.text.price__text(data-xd!='vdkgirR-58') iPad Mini 4
              li.price-list__part(data-xd!='rJCRoQM-59') 9 000 {{currency}}.
            ul.price-list__row
              li.price-list__part
                p.text.price__text(data-xd!='nVOiXVc-62') Nokia Lumia 920
              li.price-list__part(data-xd!='FpHcsvM-63') 5 000 {{currency}}.
//endRemoveIf(mobile)