//removeIf(mobile)
section.s-cow.only-desktop
	.container
		.title__wrap
			h2.title.text--bg МОЛОЗИВО
		.s-cow__content
			ul.list
				li.list__item
					.cons
						.cons__part
							.cons__ico
								i.ico.i-warn
						.cons__part
							p.text Молозиво является уникальным природным биологически активным веществом.
				li.list__item
					.cons
						.cons__part
							.cons__ico
								i.ico.i-check
						.cons__part
							p.text Он состоит из более чем 250 природных веществ, которые имеют свою основную функцию защиты и регенерации клеток в организме человека.
			ul.list
				li.list__item
					.cons
						.cons__part
							.cons__ico
								i.ico.i-angle
						.cons__part
							p.text Активные вещества  в молозиве помогают регенерации тканей и восстановления клеточного баланса.
				li.list__item
					.cons
						.cons__part
							.cons__ico
								i.ico.i-angle
						.cons__part
							p.text Молозиво борется с симптомами старения и приводит к их значительной регрессии.
//endRemoveIf(mobile)