section.s-change
	.container
		.title__wrap
			h2.title.text--bg Посмотрите на #[br.only-mobile] результаты #[span.t--ttu до] и #[span.t--ttu после]
		.s-change__slider-wrap
			.s-change__slider.bxslider
				.change
					.change__part
						.box
							.box__inner
								span.box__text До
					.change__part
						.box
							.box__inner
								span.box__text После
				.change
					.change__part
						.box
							.box__inner
								span.box__text До
					.change__part
						.box.box--small
							.box__inner
								span.box__text Спустя 3 дня
				.change
					.change__part
						.box
							.box__inner
								span.box__text До
					.change__part
						.box.box--small
							.box__inner
								span.box__text Спустя 2 недели