section.s-change
  .container
    h2.title.title--border
      span.title__text(data-xd!='tTluctC-5') #[span.t--imp Здоровая и сияющая] кожа 
      .title__info(data-xd!='ajqwMuq-7') cвободная от несовершенств!
    .s-change__content
      p.text(data-xd!='xdxZQHI-9') Ультралегкая формула проникает #[b.t--bold.t--imp.t--ttu глубоко] в клетки кожи, в сравнении с другими средствами. #[span.text__block Это позволяет наполнить кожу полезными компонентами #[b.t--bold.t--imp.t--ttu максимально]]
    //removeIf(mobile)
    .skinbox.only-desktop
      .band
        .band__inner
          p.text(data-xd!='bcIIcKD-16') Кожа до и после использования
          p.text.t--imp.t--bold(data-xd!='BHmXPdN-17') Micellar water
      .skinbox__inner
        .skinbox__grid
          .skinbox__part
            .box.box--red
              span.box__inner(data-xd!='vQODmGV-22') ДО
          .skinbox__part
            .box
              span.box__inner(data-xd!='CaNulMk-25') После
        .skin
          .skin__part.skin--before
          .skin__part.skin__devider
            span.arrow
            span.arrow
            span.arrow
          .skin__part.skin--after
      .chain
        ul.chain__grid
          li.chain__part
            .ball
              .ball__inner
          li.chain__part
            .ball
              .ball__inner
          li.chain__part
            .ball
              .ball__inner
          li.chain__part
            .ball
              .ball__inner
    //endRemoveIf(mobile)
    ul.rolls
      li.roll
        .num.num--bg
          .num__inner
            .num__border
            p.text(data-xd!='BpgUTZI-52') 1
        h4.roll__title(data-xd!='nqLGxmV-53') Нейтрализует
        p.text(data-xd!='RHiRSnw-54') окрашивающее действие меланина
      li.roll
        .num.num--bg
          .num__inner
            .num__border
            p.text(data-xd!='dCvfZUx-59') 2
        h4.roll__title(data-xd!='okAbVYT-60') Осветляет
        p.text(data-xd!='lgEVbHD-61') окрашенные участки кожи
      li.roll
        .num.num--bg
          .num__inner
            .num__border
            p.text(data-xd!='mRDRIky-66') 3
        h4.roll__title(data-xd!='SxcHxgY-67') Блокирует
        p.text(data-xd!='kTxOfBQ-68') повторное возникновение пигментации
      li.roll
        .num.num--bg
          .num__inner
            .num__border
            p.text(data-xd!='WtQwUWE-73') 4
        h4.roll__title(data-xd!='GLVWcZb-74') Защищает
        p.text(data-xd!='ruXnJPQ-75') клетки от воздействия агрессивных факторов окружающей среды