section.s-doc
  .container
    .band__wrap
      .band.band--blue
        .band__inner
          p.text(data-xd!='XniMjBB-7') Что говорят специалисты?
    .shtamp.only-desktop
      .shtamp__inner
        p.text(data-xd!='fokuEiX-10') Одобрено
    ul.s-doc__grid
      li.s-doc__part
        .doc
          .doc__inner
            .doc__content
              h4.doc__name(data-xd!='JgkAMfA-16') Иванов И. П.
              h5.doc__info(data-xd!='CIgAxoG-17') Врач - дерматолог косметологического центра
      li.s-doc__part
        h2.title
          .title__info(data-xd!='OquGZlQ-20') Женская красота начинается с
          span.title__text.t--imp.t--bold(data-xd!='SXGBKQO-21') Micellar 
          span.title__text(data-xd!='IHwjDQI-22') water
        ul.list.list--disk.list--icons
          li.list__item.only-desktop
            .list__part
              span.list__ball
              i.ico.i-cos
            .list__part  
              p.text.text--dark(data-xd!='VsYKBVP-29') Ежедневно  каждая девушка использует большое количество уходовой и декоративной косметики. Кремы, тоники, лосьоны и сыворотки - десятки различных флаконов и баночек все равно не приносят желаемого эффекта. Кожа все так же стянута и жирный блеск никуда не уходит.
          li.list__item
            .list__part
              span.list__ball
              i.ico.i-spray
            .list__part
              h5.list__title #[b.t--bold(data-xd!='SykAoUi-36') #[span.t--imp Micellar&nbsp;Water] с успехом заменит многочисленные и малоэффективные средства.]
              p.text.text--dark(data-xd!='oKqtVSW-38') Эта мицеллярная вода уникальна - ее можно смело считать уходовым средством номер один. Micellar&nbsp;Water не просто очищает кожу от загрязнений, она бережно ухаживает за ней и защищает.
          li.list__item
            .list__part
              span.list__ball
              i.ico.i-head
            .list__part
              p.text.text--dark(data-xd!='BsUSXKk-44') #[b.t--bold #[span.t--imp Мои клиентки] отметили] значительное улучшение состояния лица: тонизирование, увлажненность, свежесть и легкий лифтинг-эффект. А ровный тон кожи позволяет меньше использовать декоративную косметику.