section.s-dev
  .container
    h2.title(data-xd!='VOItSKE-4') Где можно использовать
      span.title__name Nano Saphire
    .only-mobile
      ul.s-dev__table
        li.s-dev__col
          i.ico.i-imac
        li.s-dev__col
          i.ico.i-macbook
      ul.s-dev__table.s-dev__table--label
        li.s-dev__col
          .label
            p.text(data-xd!='ZsjdLRX-15') Мониторы
        li.s-dev__col
          .label
            p.text(data-xd!='iAihpmF-18') Ноутбуки
      ul.s-dev__table
        li.s-dev__col
          i.ico.i-ipad
        li.s-dev__col
          i.ico.i-phone
      ul.s-dev__table.s-dev__table--label
        li.s-dev__col
          .label
            p.text(data-xd!='pjPOZNQ-27') Планшеты
        li.s-dev__col
          .label
            p.text(data-xd!='iCquIGB-30') Телефоны
      ul.s-dev__table
        li.s-dev__col
          i.ico.i-camera
        li.s-dev__col
          i.ico.i-glass
      ul.s-dev__table.s-dev__table--label
        li.s-dev__col
          .label
            p.text(data-xd!='UavXAaH-39') Камеры
        li.s-dev__col
          .label
            p.text(data-xd!='FGyAMvP-42') Очки
    .only-desktop
      ul.s-dev__grid
        li.s-dev__part
          .s-dev__item.s-dev__item--imac
            .s-dev__ico
              i.ico.i-imac
            .label
              p.text(data-xd!='BQfNqKC-50') Мониторы
          .s-dev__item.s-dev__item--camera
            .s-dev__ico
              i.ico.i-camera
            .label
              p.text(data-xd!='tfMgUdN-55') Фото/Видео техника
        li.s-dev__part
          .s-dev__item.s-dev__item--ipad
            .s-dev__ico
              i.ico.i-ipad
            .label
              p.text(data-xd!='AMgRIRv-61') Планшеты
          .s-dev__item.s-dev__item--phone
            .s-dev__ico
              i.ico.i-phone
            .label
              p.text(data-xd!='tWtJLCO-66') Телефоны
        li.s-dev__part
          .s-dev__item.s-dev__item--glass
            .s-dev__ico
              i.ico.i-glass
            .label
              p.text(data-xd!='iPYDljX-72') Очки
          .s-dev__item.s-dev__item--macbook
            .label
              p.text(data-xd!='rWEHpwj-75') Ноутбуки
            .s-dev__ico
              i.ico.i-macbook
        li.s-dev__part
          .s-dev__item.s-dev__item--watch
            .s-dev__ico
              i.ico.i-watch
            .label
              p.text(data-xd!='OwHuGau-83') Часы