//removeIf(mobile)
section.s-diploms.only-desktop
	.container
		.title__wrap
			h2.title.text--bg Дипломы и награды
		.s-diploms__top
			img(src='./img/desktop/diplomes.png' alt='')
		.s-diploms__grid
			.s-diploms__part
				img(src="./img/desktop/prem.png", alt="")
			.s-diploms__part
				ul.s-diploms__list
					li.s-diploms__item Diabetica Expo 2011 - Лучший косметический продукт.
					li.s-diploms__item Diabetica Expo 2012 - Лучший косметический продукт медицины и диабетологии.
					li.s-diploms__item Diabetica Expo 2013 - Лучший косметический продукт медицины и диабетологии.
					li.s-diploms__item Diabetica Expo 2014 - Лучший косметический продукт для диабетологии.
					li.s-diploms__item Титул Супер продукт 2014 - Лучший косметический продукт по уходу за телом и ногами.
					li.s-diploms__item Diabetica Expo 2015 - Лучший косметический продукт.
					li.s-diploms__item Титул Супер продукт 2015 - Лучший косметический продукт по уходу за телом и ногами.
					li.s-diploms__item Хоспис 2015 - Лучший косметический продукт для пациентов в паллиативной медицине.
//endRemoveIf(mobile)