//removeIf(mobile)
section.s-descr.only-desktop
	.container
		.cover
			.cover__grid
				.cover__part
					img.cover__img(src="./img/desktop/prod-2.png", alt="")
				.cover__part
					h2.title.text--bg DIABETEGEN FORTE - ЭТО
					.cover__content
						p.text 100 % натуральный продукт, новинка в дермокосметике. Крем производится без использования искусственных консервантов, искусственных ароматизаторов и продуктов нефтепереработки. Что сводит к минимуму возможность возникновения местных аллергических реакций.
						p.text Основным компонентом крема является молозиво – это уникальное биоактивное, естественное вещество, не имеющее аналогов в природе и дающее для кожи человека самый сильный эффект регенерации. Протеины шелка, икры и жемчуга дают высокое содержание факторов роста, стимулирующих образование новой ткани.
						p.text Наличие коллоидного серебра даёт защиту от бактерий и позволяет питательным и стимулирующим веществам проникать в глубину кожных слоёв и оздоравливать ткани изнутри, не нанося им вред. Такие дополнительные ингредиенты, как аллантоин, пантенол, а так же витамин Е, помогают процессу заживления и отличному смягчению кожи
					.cover__bottom
						.cover__bottom-grid
							.cover__bottom-part
								.price
									.price__content
										.grid__part
											del.price__old.price__item(data-xd='price1')
												span.price__text {{ old_price }}
												span.price__value {{ currency }}
										.grid__part
											.price__new.price__item(data-xd='price2')
													span.price__text {{ price }}
													span.price__value {{ currency }}
							.cover__bottom-part
								.button.toform
									button.button__text Заказать сейчас
//endRemoveIf(mobile)