section.s-form
	.container
		.s-form__grid
			.s-form__part
				.price.only-desktop
					.price__content
						.grid__part
							del.price__old.price__item(data-xd='price1')
								span.price__text {{ old_price }}
								span.price__value {{ currency }}
						.grid__part
							.price__new.price__item(data-xd='price2')
									span.price__text {{ price }}
									span.price__value {{ currency }}
				.prod.only-desktop
					.sale.only-desktop
						.sale__content
							.sale__num 50%
							.sale__text скидка
					//removeIf(mobile)
					img.only-desktop(src="./img/desktop/prod.png", alt="")
					//endRemoveIf(mobile)
			.s-form__part
				.form__wrap
					form(method='POST' action='#').form.scroll-form
						.form__title Оформление заказа
						.form__inner
							.form__field-wrap
								.field
									.field__select-wrap
										.field__arrow
										select#country_code_selector.field__select.field__part(name='country_code')
											option(value='RU') Россия
								.field
									input.field__input.field__part(type='text' name='name' placeholder='Ваше имя')
								.field
									input.field__input.field__part.only_number(type='text' name='phone' placeholder='Номер телефона')
								.field.field__info
									.field__row.only-mobile
										.field__text.field__label Старая цена:
										del.field__number.field__label {{ old_price }} {{ currency }}
									.field__row.only-mobile
										.field__text.field__label Цена:
										.field__number.field__label {{ price }} {{ currency }}
									.field__row
										.field__text.field__label Доставка:
										.field__number.field__label {{ shipment_price }} {{ currency }}
									.field__row
										.field__text.field__label Итого:
										.field__number.field__label {{ total_price|int }} {{ currency }}
							.button
								button.button__text.js_submit 
									|Заказать
					//- .form__info
					//- 	p.text Мы свяжемся с вами в течение 30 минут, ответим на все вопросы и при необходимости сформируем заказ