//removeIf(mobile)
section.s-glass.only-desktop
  .container
    h2.title(data-xd!='RuhLZNi-4') Стекло выдерживает 
      span.title__text нагрузку до 2 тонн
    .s-glass__grid
      .s-glass__part
        .photo.photo--big.photo--left
          .photo__img.img.img-4
      .s-glass__part
        .photo.photo--big.photo--right
          .photo__img.img.img-5
//endRemoveIf(mobile)