//removeIf(mobile)
section.s-home.only-desktop
  .container
    h2.title(data-xd!='s-home-1') Для дома и бизнеса
    .s-home__grid
      .s-home__part
        .round
          .round__inner
            i.ico.i-furniture
        p.text(data-xd!='ZjvJqmD-10') В квартире
      .s-home__part
        .round
          .round__inner
            i.ico.i-chair
        p.text(data-xd!='uAPuXoP-15') В офисе
      .s-home__part
        .round
          .round__inner
            i.ico.i-build
        p.text(data-xd!='ttExTRP-20') В отеле
      .s-home__part
        .round
          .round__inner
            i.ico.i-cup
        p.text(data-xd!='IihEdDX-25') В кафе
      .s-home__part
        .round
          .round__inner
            i.ico.i-basket
        p.text(data-xd!='XLCjKUp-30') В магазине
//endRemoveIf(mobile)