section.s-how
  .container
    h2.title(data-xd!='s-how-1') Как работает
      .title__name Power Box
    .s-how__inner
      .man__wrap
        .man__border
          .man
            .man__part
              .man__photo
            .man__part
              .man__content(data-xd!='s-how-2')
                h3.man__name Ильяс Мурати,
                p.text.man__text главный электрик ассоциации "Городское энергоснабжение"
      .s-how__content
        p.text(data-xd!='s-how-3') Бытовое электричество, в жилых помещениях, магазинах, даже гаражах основано на переменном токе. Он имеет амплитуду синусоиды - при включении электроприборов в сеть дает скачок. Это влечет повышенный расход электроэнергии,  за что вы и переплачиваете.
        .arrow.arrow--base.only-desktop
          +angle('right')
          .arrow__inner
            h3.man__name(data-xd!='s-how-4') Ильяс Мурати,
            p.text.man__text(data-xd!='s-how-5') главный электрик ассоциации "Городское энергоснабжение"