//removeIf(mobile)
section.s-help.only-desktop
	.container
		h2.title Крем DIABETEGEN FORTE помогает:
		.s-help__grid
			.s-help__part
				.avatar.photo.photo-1
				p.text При появлении прыщей и угревой сыпи
			.s-help__part
				.avatar.photo.photo-2
				p.text При появлении возрастных пигментных пятен
			.s-help__part
				.avatar.photo.photo-3
				p.text При сухости и шелушении кожи
			.s-help__part
				.avatar.photo.photo-4
				p.text Залечить раны и воспаления при сахарном диабете
		.arrow__wrap
			i.ico.i-arrow
//endRemoveIf(mobile)