section.s-lent
  .container
    .lent
      .lent__grid
        .lent__part
          .aim
            .aim__border
            .aim__inner
              h2.aim__title(data-xd!='WWYJXsL-10') Запатентованная Формула
            .secret__wrap.only-desktop
              .secret.secret--light
                p.text.secret__text(data-xd!='iKsNYPi-13') certified
        .lent__part
          p.text(data-xd!='JJCSmpC-15') Жидкое защитное покрытие #[b.t--bold Nano&nbsp;Sapphire  прошло тестирование и сертификацию] соответствия самым высоким стандартам прочности (9H) среди защитных средств для экрана.