//removeIf(mobile)
section.s-prod.only-desktop
  .container
    .s-prod__grid
      .s-prod__part
        h2.title(data-xd!='s-prod-1') Power&nbsp;Box
        .arrow
          +angle('right')
          .arrow__inner
            p.text(data-xd!='s-prod-2') Увеличивает срок службы вашей техники
        .s-prod__inner
          p.text(data-xd!='s-prod-3') Электроприборы не нагреваются и стабильность сети сохраняется при любых нагрузках
        .button.toform
          button.button__text(data-xd!='s-prod-4') Заказать Сейчас
      .s-prod__part
        .prod
          img.prod__img(src!="img/desktop/prod.png" alt!="")
//endRemoveIf(mobile)