section.s-review
  .container
    h2.title(data-xd!='IPTXvwd-4') ОТЗЫВЫ
    ul.s-review__list.review__slider
      li.s-review__item
        .inst
          .inst__head
            .avatar
              .avatar__img.user.user-3
            .inst__name(data-xd!='wRzOKAT-11') Mihaman
            .inst__dots
          .inst__content
            .inst__img.img.img-8
            .inst__likes
              i.ico.i-nav
            .inst__area
              p.text(data-xd!='fBQFCkn-18') Круто! Уронил айфон на бетонный пол, а стеклу хоть бы что!
          .inst__panel
      li.s-review__item
        .inst
          .inst__head
            .avatar
              .avatar__img.user.user-2
            .inst__name(data-xd!='CWzjRuY-25') Emmamanuilova
            .inst__dots
          .inst__content
            .inst__img.img.img-7
            .inst__likes
              i.ico.i-nav
            .inst__area
              p.text(data-xd!='UtQSLjK-32') Убрала царапины на планшете за минуту. И даже экран не пришлось менять. #[i.ico.i-hearts]
          .inst__panel
      li.s-review__item
        .inst
          .inst__head
            .avatar
              .avatar__img.user.user-1
            .inst__name(data-xd!='zEkOpDw-40') Kukriniks48
            .inst__dots
          .inst__content
            .inst__img.img.img-6
            .inst__likes
              i.ico.i-nav
            .inst__area
              p.text(data-xd!='VsemYMS-47') Испытание пройдено) специально царапал стекло. Как новое)
          .inst__panel