section.s-review
  .container
    h2.title.title--border
      span.title__text.t--imp(data-xd!='ooLkwvm-5') Что говорят  
      span.title__text(data-xd!='sDoqmrV-6') женщины,
      .title__info(data-xd!='PLMuYoZ-7') которые уже попробовали #[b.t--bold Micellar&nbsp;Water]:
    ul.reviews.bxslider
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-5
              .box
                .box__inner
                  span.user__name(data-xd!='LKAkCNL-19') Linda 
                  span.user__age(data-xd!='qPSQOKw-20') 27 лет
          .review__part
            .review__content
              p.text(data-xd!='WOYxIUM-23') Мне очень нравится именно эта мицеллярная вода. Перепробовала много разных, но эта прям ВАУ! Вроде обычная водичка, а заменяет мне кучу уходовых средств. А так как я постоянно по командировкам - для меня Micellar&nbsp;Water  просто спасение в одном флакончике. Кроме всего прочего,  заметила, что овал лица стал более подтянутым. Ношу всегда в сумке, при удобном случае протираю лицо в течение дня. 
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-4
              .box
                .box__inner
                  span.user__name(data-xd!='cxbKpbd-33') Джули  
                  span.user__age(data-xd!='tPKCsEr-34') 33 года
          .review__part
            .review__content
              p.text(data-xd!='SDOjpRo-37') Раньше страдала от акне, остались темные пятна, которые ничем не могла вывести. Приходилось пользоваться темным тоном, чтобы сровнять  цвет лица. А я люблю светлую, почти фарфоровую кожу.  Косметолог посоветовала попробовать еще Micellar&nbsp;Water.  Я особо не надеялась получить результат от обычной мицеллярной воды... Но ошибалась. Сейчас лицо чистое и белое, никаких пятен. Советую.
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-3
              .box
                .box__inner
                  span.user__name(data-xd!='UWWGUar-47') ASIA  
                  span.user__age(data-xd!='ZPazvsm-48') 26 лет
          .review__part
            .review__content
              p.text(data-xd!='MJROrFj-51') У меня очень жирная кожа, а матирующие кремы сильно забивают поры вплоть до образования угрей. Micellar&nbsp;Water  отлично справляется с заявленными свойствами - все работает. Использую утром и вечером. Тон лица стал более ровным. Тональным кремом почти не пользуюсь.
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-2
              .box
                .box__inner
                  span.user__name(data-xd!='ifWYOSO-61') Chon 
                  span.user__age(data-xd!='ILWpAND-62') 31 год
          .review__part
            .review__content
              p.text(data-xd!='RuLuoTn-65') Я не люблю светлую кожу, всегда загораю. Правда от пигментации в таком случае никуда не деться, но выручает Micellar&nbsp;Water. На баночке не написано, что обладает SPF защитой, но я на пляже постоянно ней протираю лицо. В этом сезоне как леопард уже не хожу, и кожа мягкая, увлажненная, даже если на солнце нахожусь весь день. Еще использую как основу под макияж, в таком случае держится весь день без блеска.
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-1
              .box
                .box__inner
                  span.user__name(data-xd!='ZBTBRsv-75') ИРЭН 
                  span.user__age(data-xd!='ISTmrRt-76') 37 лет
          .review__part
            .review__content
              p.text(data-xd!='RzUOHcR-79') Нравится эта Micellar&nbsp;Water. Матирует деликатно, не пересушивая. Наконец-то избавилась от отеков под глазами и темных кругов - это заслуга киви в составе. Лицо всегда сияет свежестью, приятное на ощупь, хочется его трогать постоянно, хотя знаю, что микробов полно на руках. В общем - хороший продукт, буду брать еще.