//removeIf(mobile)
section.s-reviews.only-desktop
	.container
		.title__wrap
			h2.title.text--bg Отзывы наших покупателей
		.reviews
			.reviews__left
				.review.review-on
					.review__head
						.review__head-left
							.user.user-1
						.review__head-right
							p.review__name Восемь Ёжиков
							p.date
								script.
									dtime_nums(-10, true);
								span  в 23:06
						.review__head-last
							span.review__close Закрыть
					.review__content
						p.text На работе часто получаю различные раны и ссадины. Обычно всё заживает очень долго, не смотря на то, что компенсация налажена. Наткнувшись в одной из групп посвященных диабету, о презентации крема Diabetegen, сначала усомнилась в нём, и думала что это очередной пиар-ход. Увидев акцию, решила в ней поучаствовать. Конечно отнеслась скептически, поэтому решила использовать его лишь на одной ране, чтоб был заметен эффект. Как можно увидеть по фото, результат есть, и на мой взгляд, вполне не плохой. С учётом того, что ранам две недели, и остальные рядом я продолжала обрабатывать другими ранозаживляющими мазями. Мой вердикт: крем прошёл "боевое крещение")
				.review.review-on
					.review__head
						.review__head-left
							.user.user-2
						.review__head-right
							p.review__name Галина Седавных
							p.date
								script.
									dtime_nums(-8, true);
								span  в 0:21
						.review__head-last
							span.review__close Закрыть
					.review__content
						p.text У моей дочурки сахарный диабет 1 типа с 4 лет. Сейчас ей 5. Ежедневно я ей прокалываю пальчики по 20 раз‚практически каждый час. Естественно кожица на пальчиках шулушилась‚сходила слоями. Ежедневно мазала кремами и мазями доче пальчики. Эффект был конечно‚но малозаметный. Потом я в группе для диабетиков нашла объявление что есть такой чудокрем . И заказала для своей крошки в Калининградскую область. Каждый день‚мажем пальчики и результат заметен был уже на второй день использования. Кожица гладенькая‚ровненькая. Спасибо огромное. ))))
			.reviews__right
				.review.review-on
					.review__head
						.review__head-left
							.user.user-3
						.review__head-right
							p.review__name Ольга Кузнецова
							p.date
								script.
									dtime_nums(-5, true);
								span  в 20:50
						.review__head-last
							span.review__close Закрыть
					.review__content
						p.text Я диабетик со стажем 34 года. Много и часто использовала самые разные средства дерматокосметологии - и лечебные, и просто ухаживающие. Поэтому когда появился новый крем - я сразу решила его опробовать. Самая главная проблема моей кожи - сухость именно из-за нее на коже легко возникают трещинки, царапинки. И заживает это все довольно долго. На что я сразу обратила внимание в начале использования этого средства - он легко впитывается, никаких жирных пятен на одежде, у него нет неприятного запаха. То есть можно смело утро его использовать, одеться и идти на работу - проблем не будет с внешним видом. Я опробовала этот крем на ноге. Там у меня было сухое пятно, которое довольно долго уже было и никак не хотело исчезать, хотя и воспаления на нем не было. Пятно было розоватого оттенка. Первые два дня очень видимых эффектов не принесли и даже появился легкий зуд на месте применения. Но зато через 3 дня и далее стало очевидно, что крем работает очень положительно. Пятно перестало шелушиться, побледнело и стало меньшего размера. Как раз в этот момент я после неудачной уборки дома натерла себе локти и там образовались очень неприятные потертости, которые болели и доставляли массу неприятных ощущений. И я решила крем и там опробовать. Первые 2 дня тоже вроде бы эффекта не было, но зато на третий день утром я встала уже без болевых ощущений и цвет кожи на месте ранок был светлый, а не красный, воспаленный. Из моего первого опыта пользования этим средством, могу сделать главный вывод - работает и достаточно успешно справляется с поставленными задачи по заживлению ранок и устранению неприятных ощущений на месте поверхностных ран. Я осталась в целом очень довольна. Считаю, что продукт заслуживает внимания со стороны людей с проблемами кожи, заживления ран, и просто тех, кто любит ухаживать за собой с помощью качественного продукта.
		.button__wrap
			.button.toform
				button.button__text Заказать
//endRemoveIf(mobile)


