- var email1 = '<levi01@gmail.com>';
- var email2 = '<bao-mao@gmail.com.>';
- var email3 = '<murrr98@gmail.com.>';
- var email4 = '<satyama@yahoo.com.>';
section.s-reviews
  .container
    h2.title(data-xd!='s-reviews-1') #[span.t--imp Отзывы] покупателей
    .s-reviews__content
      ul.reviews.bxslider
        li.reviews__item(data-xd!='s-reviews-2')
          .review.review--first
            .review__top.only-desktop
              p.text(data-xd!='lYJIyIb-11') Счет за электричество уменьшился
              .review__type(data-xd!='snJzJcp-12') Входящие
            .review__inner
              .review__head
                .review__head-part
                  .review__photo.photo.photo-1
                  h2.review__name(data-xd!='jyMmiqW-17') Рамазан Йилмаз
                  .review__email!= email1
                  .review__me.only-desktop
                    span.review__me-text(data-xd!='GamgzCg-20') кому: мне
                    span.review__me-box
                .review__head-part
                  .date
                    script(type!='text/javascript' data-xd!='GhcmRNZ-24')
                      | dtime_nums(-10, true)
                  .review__panel
              .review__content
                .review__content-part
                  p.text(data-xd!='UmFkMSq-28') Я собственник небольшого отеля. #[br] Оплата счетов за электричество отнимала у меня 20% доходов. Летом кондиционеры работают на охлаждение, зимой на отопление - сами понимаете. #[b Искал выход и нашел Power&nbsp;box. Теперь плачу не больше 5% от дохода.] Только понял, что надо его в каждую комнату ставить, так больше экономия.
                .review__content-part
                  .review__box-wrap
                    //removeIf(mobile)
                    .review__box.only-desktop
                      img(src!="img/desktop/user-photo-1.png" alt!="")
                    //endRemoveIf(mobile)
                    .review__result
                      span.review__result-text(data-xd!='RYOCtEt-36') срок использования:
                      span.review__result-date
                        span
                          script(type!='text/javascript' data-xd!='NmxZgDq-39')
                            | dtime_nums_custom(-75, true)
                        span.review__devider(data-xd!='loUPqju-40')  - 
                        span
                          script(type!='text/javascript' data-xd!='YkefwSG-42')
                            | dtime_nums_custom(-40, true)
                            | 
        li.reviews__item(data-xd!='s-reviews-3')
          .review.review--nth-2
            .review__top.only-desktop
              p.text(data-xd!='Wdmtvgy-46') Отличный прибор для любой семьи
              .review__type(data-xd!='xUmkzQB-47') Входящие
            .review__inner
              .review__head
                .review__head-part
                  .review__photo.photo.photo-2
                  h2.review__name(data-xd!='byZeTsd-52') Мурат Челик
                  .review__email!= email2
                  .review__me.only-desktop
                    span.review__me-text(data-xd!='qPJMHUw-55') кому: мне
                    span.review__me-box
                .review__head-part
                  .date
                    script(type!='text/javascript' data-xd!='KYWVmhg-59')
                      | dtime_nums(-20, true)
                  .review__panel
              .review__content
                .review__content-part
                  p.text(data-xd!='mlRziir-63') #[b Я купил Power&nbsp;Box, чтобы помочь родителям.] #[br] Я немного разбираюсь в физике, поэтому знал, что есть приборы, которые помогают сбалансировать поток электроэнергии и не платить за скачки напряжения. И мои догадки оправдались, родители очень довольны.
                .review__content-part
                  .review__box-wrap
                    .review__box.only-desktop
                      //removeIf(mobile)
                      img(src!="img/desktop/user-photo-2.png" alt!="")
                      //endRemoveIf(mobile)
                    .review__result
                      span.review__result-text(data-xd!='XrMAQZF-71') срок использования:
                      span.review__result-date
                        span
                          script(type!='text/javascript' data-xd!='ltSLBaE-74')
                            | dtime_nums_custom(-120, true)
                        span.review__devider(data-xd!='LiRdAGj-75')  - 
                        span
                          script(type!='text/javascript' data-xd!='gvFODCp-77')
                            | dtime_nums_custom(-80, true)
        li.reviews__item(data-xd!='s-reviews-4')
          .review.review--nth-3
            .review__top.only-desktop
              p.text(data-xd!='LQFZkNy-81') Мои доходы увеличились
              .review__type(data-xd!='XZUawlc-82') Входящие
            .review__inner
              .review__head
                .review__head-part
                  .review__photo.photo.photo-3
                  h2.review__name(data-xd!='mFrFQTo-87') Тимур Фундуклеев
                  .review__email!= email3
                  .review__me.only-desktop
                    span.review__me-text(data-xd!='hDtkzLS-90') кому: мне
                    span.review__me-box
                .review__head-part
                  .date
                    script(type!='text/javascript' data-xd!='BiQHkaP-94')
                      | dtime_nums(-20, true)
                  .review__panel
              .review__content
                .review__content-part
                  p.text(data-xd!='SAUkBrT-98') #[b Покупал Power Box специально для работы.] Я ремонтирую скутеры, чиню мелкую технику, и все время использую электричество. Иногда получалось, что за коммунальные услуги приходилось отдавать до половины своего заработка. #[b Сейчас я могу хорошо экономить, поэтому можно сказать, что мои доходы увеличились.]
                .review__content-part
                  .review__box-wrap
                    .review__box.only-desktop
                      //removeIf(mobile)
                      img(src!="img/desktop/user-photo-3.png" alt!="")
                      //endRemoveIf(mobile)
                    .review__result
                      span.review__result-text(data-xd!='tciqCrZ-106') срок использования:
                      span.review__result-date
                        span
                          script(type!='text/javascript' data-xd!='fstucVU-109')
                            | dtime_nums_custom(-160, true)
                        span.review__devider(data-xd!='yeYrlKY-110')  - 
                        span
                          script(type!='text/javascript' data-xd!='LGFkDVE-112')
                            | dtime_nums_custom(-120, true)
        li.reviews__item(data-xd!='s-reviews-5')
          .review.review--nth-4
            .review__top.only-desktop
              p.text(data-xd!='UUXlwDa-116') За полгода сэкономили крупную сумму
              .review__type(data-xd!='klfIxlp-117') Входящие
            .review__inner
              .review__head
                .review__head-part
                  .review__photo.photo.photo-4
                  h2.review__name(data-xd!='oTxmDhM-122') Ильяс Калпачи
                  .review__email!= email4
                  .review__me.only-desktop
                    span.review__me-text(data-xd!='NGmCRwP-125') кому: мне
                    span.review__me-box
                .review__head-part
                  .date
                    script(type!='text/javascript' data-xd!='NXTTiPR-129')
                      | dtime_nums(-20, true)
                  .review__panel
              .review__content
                .review__content-part
                  p.text(data-xd!='qnxSlFH-133') Мы с семьей сдаем несколько комнат для туристов. В доме постоянно живут люди, пользуются различной техникой, поэтому счета приходят внушительные, особенно за электричество. Мы хотели сэкономить, при этим никого не обманывать. #[b Попробовали Power&nbsp;Box. За полгода мы сохранили немало денег. Спасибо!]
                .review__content-part
                  .review__box-wrap
                    .review__box.only-desktop
                      //removeIf(mobile)
                      img(src!="img/desktop/user-photo-4.png" alt!="")
                      //endRemoveIf(mobile)
                    .review__result
                      span.review__result-text(data-xd!='QlKnMQS-140') срок использования:
                      span.review__result-date
                        span
                          script(type!='text/javascript' data-xd!='DjTbshR-143')
                            | dtime_nums_custom(-195, true)
                        span.review__devider(data-xd!='ffxgOLG-144')  - 
                        span
                          script(type!='text/javascript' data-xd!='MKDYZro-146')
                            | dtime_nums_custom(-160, true)