//removeIf(mobile)
section.s-skills.only-desktop
	.container
		.title__wrap
			h2.title.text--bg.t--ttu КРЕМ DIABETEGEN FORTE ПОМОГАЕТ ПРИ:
		.s-skills__content
			ul.s-skills__grid
				li.s-skills__part
					.skill
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Синдроме «диабетической стопы»
				li.s-skills__part
					.skill.skill--limit
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Шрамах
			ul.s-skills__grid
				li.s-skills__part
					.skill
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Трофических язвах
				li.s-skills__part
					.skill.skill--limit
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Царапинах
			ul.s-skills__grid
				li.s-skills__part
					.skill
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Акне (угревая сыпь, угри, прыщи)
				li.s-skills__part
					.skill.skill--limit
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Ожогах
			ul.s-skills__grid
				li.s-skills__part
					.skill
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Герпесе
				li.s-skills__part
					.skill.skill--limit
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Обморожениях
			ul.s-skills__grid
				li.s-skills__part
					.skill
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Псориазе
				li.s-skills__part
					.skill.skill--limit
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Геморрое
			ul.s-skills__grid
				li.s-skills__part
					.skill
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Раздражении, сухости и шелушении кожи
				li.s-skills__part
					.skill.skill--limit
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Кератозе
			ul.s-skills__grid
				li.s-skills__part
					.skill
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Длительно незаживающих ранах
				li.s-skills__part
					.skill
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Возрастных пигментных пятнах
			ul.s-skills__grid
				li.s-skills__part
					.skill
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Пролежнях
				li.s-skills__part
					.skill
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Повреждении эпидермиса
			ul.s-skills__grid
				li.s-skills__part
					.skill
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text Рубцах
				li.s-skills__part
					.skill
						.skill__grid
							.skill__part
								.mark
							.skill__part
								p.text А так же убирает дефекты кожи, оставшиеся после перечисленных выше проблем
//endRemoveIf(mobile)