section.s-spaceman
  .container
    h2.title(data-xd!='ARHqVZX-4') Сапфир имеет твердость
      span.title__grid
        span.title__part
          span.title__num(data-xd!='ZKzQTrO-7') 9H
        span.title__part
          span.title__text(data-xd!='KUqUSeR-9') из 10 возможных
    //removeIf(mobile)
    .s-spaceman__content.only-desktop
      .wiki
        h3.wiki__title
          span.wiki__title-text(data-xd!='OCmzprh-13') Крепче только алмаз
        p.text(data-xd!='AFjkxRJ-14') (По минералогической шкале твердости Мооса). Твердость по шкале определяется царапанием поверхности. Это значит, что повредить сапфировую поверхность может лишь бриллиант.
      .lent
        .lent__grid
          .lent__part
            .aim
              .aim__border
              .aim__inner
                p.aim__text.text(data-xd!='WVbJTIm-21') Именно поэтому сапфировые покрытия используют для производства
                h2.aim__title(data-xd!='CRYxnfj-22') особо крепких предметов:
          .lent__part
            ul.list
              li.list__item
                .list__part
                  i.ico.i-round-window
                .list__part
                  p.text(data-xd!='DvbdMue-29') Иллюминаторов в космических станциях
              li.list__item
                .list__part
                  i.ico.i-jelet
                .list__part
                  p.text(data-xd!='twMXmIK-34') Бронежилетов
              li.list__item
                .list__part
                  i.ico.i-saw
                .list__part
                  p.text(data-xd!='aHbIjvo-39') Режущих инструментов
    //endRemoveIf(mobile)