//removeIf(mobile)
section.s-serf.only-desktop
	.container
		.title__wrap
			h2.title.text--bg Сертификаты качества
		.s-serf__content
			.s-serf__grid
				.s-serf__part
					img(src="./img/desktop/serf-1.jpg", alt="")
				.s-serf__part
					img(src="./img/desktop/serf-2.jpg", alt="")
				.s-serf__part
					img(src="./img/desktop/serf-3.jpg", alt="")
//endRemoveIf(mobile)
