section.s-what
  .container
    h2.title(data-xd!='VRHBrjT-4') Что такое #[span.title__name Nano Saphire]
    p.text.s-what__descr(data-xd!='nioiFmV-6')  
      | Наноформула жидкого сапфира на основе оксида алюминия 
      span.s-what__descr-img
      | проникает в структуру стекла и заполняет его поры.
    h3.s-what__posttitle(data-xd!='svIaHvu-8') Это мгновенно #[span.s-what__posttitle-text увеличивает прочность] #[span.s-what__posttitle-name в 12 раз]
    .s-what__content
      span.s-what__content-img  
      p.text(data-xd!='GHiuKlH-13') После высыхания жидкость создает на поверхности экрана кристаллическую сетку, #[b.t--bold.t--imp которая препятствует образованию новых трещин] и #[span.s-what__content-arrow избавляет от уже существующих.]