section.s-why
  .container
    h2.title(data-xd!='sWWGsJd-4') Почему 
      span.title__name Nano Saphire
    .s-why__grid
      .s-why__part
        //removeIf(mobile)
        .cover.cover--dark.only-desktop
          h3.cover__title(data-xd!='bOYtOKL-9') Защитная пленка
          .cover__info
            p.text(data-xd!='KOYeGaW-11') Срок защиты: #[b.t--bold до 3 месяцев]
          .cover__content
            ul.list
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text(data-xd!='fLrJSaR-19') Легко появляются царапины
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text(data-xd!='lQdUmEM-24') Возникают пузыри, которые ухудшают работу Touch Screen
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text(data-xd!='FjQaiev-29') Ухудшается яркость
          .cover__bottom
        //endRemoveIf(mobile)
      .s-why__part
        .cover
          h3.cover__title(data-xd!='gPVFJUF-33') Nano Sapphere
          .cover__info
            p.text(data-xd!='aECNIeu-35') Срок защиты: #[b.t--ex.t--bold до 1 года]
          .cover__content
            ul.list
              li.list__item
                .list__part
                  i.ico.i-tick
                .list__part
                  p.text(data-xd!='VDPfkuK-43') Легко наносится
              li.list__item
                .list__part
                  i.ico.i-tick
                .list__part
                  p.text(data-xd!='SgbXpAn-48') Не заметен на стекле
              li.list__item
                .list__part
                  i.ico.i-tick
                .list__part
                  p.text(data-xd!='kFJNzRX-53') Укрепляет экран
              li.list__item
                .list__part
                  i.ico.i-tick
                .list__part
                  p.text(data-xd!='lvYOzUI-58') Повышает четкость изображения
          .cover__bottom
            .button.toform
              button.button__text(data-xd!='SsiZSbG-61') Заказать Сейчас
      .s-why__part
        //removeIf(mobile)
        .cover.cover--dark.only-desktop
          h3.cover__title(data-xd!='urDwUaN-64') Закаленное стекло
          .cover__info
            p.text(data-xd!='JXpoWKZ-66') Срок защиты: #[b.t--bold до 6 месяцев]
          .cover__content
            ul.list
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text(data-xd!='MGeboZz-74') Оставляет клей на дисплее при удалении
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text(data-xd!='RjZXGQa-79') Трещины на краях портят внешний вид
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text(data-xd!='VIaiCzM-84') Царапины ухудшают работу touch screen
          .cover__bottom
        //endRemoveIf(mobile)