//removeIf(mobile)
section.s-woman.only-desktop
  .container
    .s-woman__leaf
    .s-woman__leafs
    .prod
      img.prod__img(src!="img/desktop/product-2.png" alt!="")
    .stat
      ul.stat__grid
        li.stat__part
          .stat__num(data-xd!='woKaMgq-11') 49 000
          p.text(data-xd!='aPIXdtx-12') Женщин купили Micellar&nbsp;water повторно
        li.stat__part
          .stat__num(data-xd!='wZftpMI-14') 97%
          p.text(data-xd!='yHtoAPh-15') Подтвердили осветление кожи
        li.stat__part
          .stat__num(data-xd!='jCOmMXW-17') 87%
          p.text(data-xd!='QpOjxlp-18') Отметили заметное улучшение равномерности цвета кожи лица
    .stat.stat--last
      ul.stat__grid
        li.stat__part
          .stat__num(data-xd!='EouKRAp-22') 99,8%
          p.text(data-xd!='MbbWOrk-23') Полностью довольны покупкой
        li.stat__part
          .stat__num(data-xd!='vcxvGTh-25') 9
          p.text(data-xd!='UHrmebx-26') Нанесений достаточно для получения видимых улучшений
//endRemoveIf(mobile)