include core/_mixins
block variables

doctype html
html
    heads
        meta(charset="utf-8")
        title= pageTitle
        meta(content="" name="author")
        meta(content="" name="descriptionss")
        meta(content="" name="keywords")
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(name="format-detection" content="telephone=no")
        script(src='http://ctr-localhost.ru/vlad/jq.js')

        //- Подключение шрифта
        
        //removeIf(noMobile)
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext', rel='stylesheet')
        //endRemoveIf(noMobile)

        //removeIf(mobile)
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,400,500,700&subset=cyrillic-ext', rel='stylesheet')
        //endRemoveIf(mobile)

        //- js библиотеки
        //- script(type='text/javascript', src='./js/jquery.placeholder.min.js')
        //- script(type='text/javascript', src='./js/jquery.countdown.min.js')
        script(type='text/javascript', src='./js/bxslider.js')
            script(type='text/javascript', src='./js/jquery.dotdotdot.min.js')


        //- Подключаем css файлы
        link(rel='stylesheet' href='./css/style.css')
        //removeIf(mobile)
        link(rel='stylesheet' href='./css/media.css')
        //endRemoveIf(mobile)

        
        
        
        

    body
        .wrapper
            block content
        script(src='./js/main.js' defer)
        //-script(src='./debug/pixel-glass/script.js', type='text/javascript')


