.freez
  .freez__inner
    h5.freez__title МЫ ЗАМОРОЗИЛИ ЦЕНУ!
    p.freez__price 1$ = 45 рублей
    .freez__bottom
      .freez__info  
        p.text Осталось #[span.counter 30] штук по старому курсу
    .freez__close
ul.buy__list
.user-data(style!='display:none')
  ul.user__names
    li.user__item
      span.user-data__name Оксана
      span.user__action оформила
    li.user__item
      span.user-data__name Сергей
      span.user__action оформил
    li.user__item
      span.user-data__name Леша
      span.user__action оформил
    li.user__item
      span.user-data__name Алексей
      span.user__action оформил
    li.user__item
      span.user-data__name Павел
      span.user__action оформил
    li.user__item
      span.user-data__name Александр
      span.user__action оформил
    li.user__item
      span.user-data__name Дима
      span.user__action оформил
    li.user__item
      span.user-data__name Дмитрий
      span.user__action оформил
    li.user__item
      span.user-data__name Женя
      span.user__action оформил
    li.user__item
      span.user-data__name Татьяна
      span.user__action оформила
    li.user__item
      span.user-data__name Лиза
      span.user__action оформила
    li.user__item
      span.user-data__name Алла
      span.user__action оформила
    li.user__item
      span.user-data__name Наталья
      span.user__action оформила
  ul.user__cities
    li.user-data__city г.Москва
    li.user-data__city г.Воронеж
    li.user-data__city г.Санкт-Петербург
    li.user-data__city г.Новосибирск
    li.user-data__city г.Екатеринбург
    li.user-data__city г.Казань
    li.user-data__city г.Омск
    li.user-data__city г.Самара
    li.user-data__city г.Уфа