section.s-action
  .container
    h2.title.color-imp Как #[span.color-base.s-action__title-name Denta&nbsp;Seal] действует на ваши зубы
    .bxslider-feat
      .feat
        h3.feat__title Восстановление
        .feat__photo.only-mobile.photo.photo-9
        .grid-D.feat__grid
          .part-D.feat__item
            .feat__head
              .grid-M.feat__head-grid
                .part-M.feat__head-part
                  .box
                    i.ico.ico-13
                .part-M.feat__head-part
                  p.text Зубная боль
            .feat__content
              p.text Зубная боль появляется из-за истончения эмали или рецессии десен. Нервные канальцы попадают под воздействие внешних раздражителей
          .part-D.feat__item
            .feat__head
              .grid-M.feat__head-grid
                .part-M.feat__head-part
                  .box
                    i.ico.ico-14
                .part-M.feat__head-part
                  p.text Гидроксиапатит
            .feat__content
              p.text Гидроксиапатит запечатывает открытые дентинные канальцы и защищает пульпу от внешнего воздействия. Это предотвращает возникновение боли
          .part-D.feat__item
            .feat__head
              .grid-M.feat__head-grid
                .part-M.feat__head-part
                  .box
                    i.ico.ico-15
                .part-M.feat__head-part
                  p.text Защитное покрытие
            .feat__content
              p.text Сразу после нанесения жидкого минерала образуется стойкое защитное покрытие, которое обеспечивает снижение чувствительности зубов
        ul.review__dotts
      //------------------------------
      .feat
        h3.feat__title Защита от кариеса
        .feat__photo.only-mobile.photo.photo-10
        .grid-D.feat__grid
          .part-D.feat__item
            .feat__head
              .grid-M.feat__head-grid
                .part-M.feat__head-part
                  .box
                    i.ico.ico-16
                .part-M.feat__head-part
                  p.text Защищает
            .feat__content
              p.text Трещины и фиссуры на зубах создают бактериям хорошие условия для закрепления, а в последующем разрушения эмали
          .part-D.feat__item
            .feat__head
              .grid-M.feat__head-grid
                .part-M.feat__head-part
                  .box
                    i.ico.ico-17
                .part-M.feat__head-part
                  p.text Очищает
            .feat__content
              p.text Во время чистки зубов паста DENTA&nbsp;SEAL  захватывает бактерии и частицы налета, облегчая их удаление из полости рта
          .part-D.feat__item
            .feat__head
              .grid-M.feat__head-grid
                .part-M.feat__head-part
                  .box
                    i.ico.ico-18
                .part-M.feat__head-part
                  p.text Сглаживает
            .feat__content
              p.text При этом  микрочастицы гидроксиапатита запечатывают трещины на эмали, предотвращая попадание туда бактерий. Поверхность эмали становится более гладкой и не подверженной закреплению налета
        ul.review__dotts
      //------------------------------
      .feat
        h3.feat__title Осветление эмали
        .feat__photo.only-mobile.photo.photo-11
        .grid-D.feat__grid
          .part-D.feat__item
            .feat__head
              .grid-M.feat__head-grid
                .part-M.feat__head-part
                  .box
                    i.ico.ico-19
                .part-M.feat__head-part
                  p.text Осветление
            .feat__content
              p.text Поврежденная эмаль с микротрещинами темнеет, потому что свет хуже отражается от ее поверхности
          .part-D.feat__item
            .feat__head
              .grid-M.feat__head-grid
                .part-M.feat__head-part
                  .box
                    i.ico.ico-20
                .part-M.feat__head-part
                  p.text Шлифование
            .feat__content
              p.text Наночастицы  гидроксиапатита заполняют трещины и отшлифовывают поверхность зуба
          .part-D.feat__item
            .feat__head
              .grid-M.feat__head-grid
                .part-M.feat__head-part
                  .box
                    i.ico.ico-21
                .part-M.feat__head-part
                  p.text Восстановление
            .feat__content
              p.text Эмаль становится глакой и блестящей, восстанавливается ее естественный цвет
        ul.review__dotts