//removeIf(mobile)
section.s-arrow.only-desktop
	.container
		.arrow.arrow--out
			+angle('right')
			.arrow__inner
				.s-arrow__part
					.arrow.arrow--in
						+angle('right')
						.arrow__inner
							i.ico.i-warn
							p.text(data-xd='s-arrow-1') Стабильное напряжение
				.s-arrow__part
					h2.title(data-xd='s-arrow-2') Вы получаете сразу два преимущества:
					ul.s-arrow__list(data-xd='s-arrow-3') 
						li.s-arrow__item
							i.ico.i-mark
							|экономите на счетах
						li.s-arrow__item
							i.ico.i-mark 
							|продлеваете жизнь своих электроприборов
//endRemoveIf(mobile)