//removeIf(mobile)
section.s-break.only-desktop
  .container
    .s-break__content
      h2.title Кому нужен 
        span.title__name Nano Saphire
      ul.tile
        li.tile__item
          .box
            h3.box__title
              span.box__num 50%
            p.text владельцев смартфонов / планшетов хотя бы 1 раз в жизни разбивали экран своего девайса
        li.tile__item
          .box
            h3.box__title
              span.box__num 85%
            p.text из них НЕ меняют разбитый экран из-за высокой стоимости ремонта
        li.tile__item
          .box
            h3.box__title
              span.box__num 92%
            p.text починенных гаджетов имеют проблемы с жидкокристаллическим экраном и touch screen
        li.tile__item
          .box
            h3.box__title От #[span.box__num 5] до #[span.box__num 20]
            p.text тысяч рублей - средняя стоимость замены экрана для популярных моделей
    .lent
      .lent__grid
        .lent__part
          .aim
            .aim__border
            .aim__inner
              p.aim__text.text Стоимость
              h2.aim__title замены экрана
              span.aim__after у разных устройств: 
        .lent__part
          .price-list
            ul.price-list__row
              li.price-list__part  
                p.text.price__text iPhone 6
              li.price-list__part 7 000 {{currency}}.
            ul.price-list__row
              li.price-list__part  
                p.text.price__text iPhone 6+
              li.price-list__part 11 500 {{currency}}.
            ul.price-list__row
              li.price-list__part
                p.text.price__text Samsung Galaxy S6
              li.price-list__part 11 500 {{currency}}.
            ul.price-list__row
              li.price-list__part
                p.text.price__text iPad Air 2
              li.price-list__part 12 000 {{currency}}.
            ul.price-list__row
              li.price-list__part
                p.text.price__text iPad Mini 4
              li.price-list__part 9 000 {{currency}}.
            ul.price-list__row
              li.price-list__part
                p.text.price__text Nokia Lumia 920
              li.price-list__part 5 000 {{currency}}.
//endRemoveIf(mobile)