section.s-book
  .container
    h2.title.title--border
      span.title__text.t--imp Micellar 
      span.title__text water
      .title__info уход межклеточного уровня
    .s-book__content
      p.text Открытие революционной молекулы мицеллы - основы Micellar&nbsp;water, стало прорывом современной косметологии.
    .book
      ul.book__grid
        li.book__part
          p.text.book__toptext Открытие революционной молекулы мицеллы - основы Micellar water, стало прорывом современной косметологии.
          .magnet
            h4.magnet__title Эти микрочастицы работают как #[b.t--imp магнит]
            p.magnet__text.text вытягивают из кожи загрязнения и удерживают их в себе.
        li.book__part
          .micel
            .micel__img
            .micel__info
              span.micel__text Мицеллы
              span.micel__text Загрязнения
          p.text #[span.t--imp Мицеллы] очищают кожу  не только от косметики, но и от излишков себума, токсинов и свободных радикалов.