section.s-delivery
  .container
    h2.title Официальные дистрибьюторы
    .name Denta&nbsp;Seal
    .s-delivery__info находятся по всему миру
    .s-delivery__content
      p.text  У нас есть офисы и складские помещения в 27 странах, в том числе в России, чтобы вам не пришлось долго ждать свой заказ и переплачивать за доставку.
    .grid-D.s-delivery__grid
      .part-D.s-delivery__part
        .tale
          .tale__box.ship-1
          .tale__box.ship-2
          .tale__box.ship-3
          .tale__box.ship-4
          .tale__box.ship-5
      .part-D.s-delivery__part
        .tale.tale--push
          .tale__box.ship-6
          .tale__box.ship-7
          .tale__box.ship-8
          .tale__box.ship-9
          .tale__box.ship-10