section.s-dev
  .container
    h2.title Где можно использовать
      span.title__name Nano Saphire
    .only-mobile
      ul.s-dev__table
        li.s-dev__col
          i.ico.i-imac
        li.s-dev__col
          i.ico.i-macbook
      ul.s-dev__table.s-dev__table--label
        li.s-dev__col
          .label
            p.text Мониторы
        li.s-dev__col
          .label
            p.text Ноутбуки
      ul.s-dev__table
        li.s-dev__col
          i.ico.i-ipad
        li.s-dev__col
          i.ico.i-phone
      ul.s-dev__table.s-dev__table--label
        li.s-dev__col
          .label
            p.text Планшеты
        li.s-dev__col
          .label
            p.text Телефоны
      ul.s-dev__table
        li.s-dev__col
          i.ico.i-camera
        li.s-dev__col
          i.ico.i-glass
      ul.s-dev__table.s-dev__table--label
        li.s-dev__col
          .label
            p.text Камеры
        li.s-dev__col
          .label
            p.text Очки
    .only-desktop
      ul.s-dev__grid
        li.s-dev__part
          .s-dev__item.s-dev__item--imac
            .s-dev__ico
              i.ico.i-imac
            .label
              p.text Мониторы
          .s-dev__item.s-dev__item--camera
            .s-dev__ico
              i.ico.i-camera
            .label
              p.text Фото/Видео техника
        li.s-dev__part
          .s-dev__item.s-dev__item--ipad
            .s-dev__ico
              i.ico.i-ipad
            .label
              p.text Планшеты
          .s-dev__item.s-dev__item--phone
            .s-dev__ico
              i.ico.i-phone
            .label
              p.text Телефоны
        li.s-dev__part
          .s-dev__item.s-dev__item--glass
            .s-dev__ico
              i.ico.i-glass
            .label
              p.text Очки
          .s-dev__item.s-dev__item--macbook
            .label
              p.text Ноутбуки
            .s-dev__ico
              i.ico.i-macbook
        li.s-dev__part
          .s-dev__item.s-dev__item--watch
            .s-dev__ico
              i.ico.i-watch
            .label
              p.text Часы