section.s-diamond
  .container
    h2.title(data-xd!='CiZfttn-4') Особый 
      span.title__name НАНО-СОСТАВ
    .s-diamond__content
      .s-diamond__table.s-diamond__img
        //removeIf(mobile)
        .prod.only-desktop
          img(src!="img/desktop/prod.png" alt!="")
        //endRemoveIf(mobile)
        ul.s-diamond__grid
          li.s-diamond__part.s-diamond__part--first
            .list
              .list__item
                .list__part
                  .photo
                    .photo__img.img.img-1
                .list__part
                  h3.list__title(data-xd!='krrdxzu-18') Диоксид кремния
                  p.text(data-xd!='RDbQYFu-19') Химически стоек к воздействию кислот, высоких температур и влаги
          li.s-diamond__part.s-diamond__devider
          li.s-diamond__part.s-diamond__part--last
            .list
              .list__item
                .list__part
                  .photo
                    .photo__img.img.img-2
                .list__part
                  h3.list__title(data-xd!='AGORwgR-28') Серебро
                  p.text(data-xd!='xZZbkMQ-29') Серебряные ионы нейтрализуют вредное излучение мобильных устройств
      .s-diamond__table
        ul.s-diamond__grid
          li.s-diamond__part.s-diamond__part--first
            .list
              .list__item
                .list__part
                  .photo
                    .photo__img.img.img-3
                .list__part
                  h3.list__title(data-xd!='BClNxgX-39') Диоксид титана
                  p.text(data-xd!='zCsFDUD-40') Сплав титана устойчив к агрессивным внешним воздействиям и используется даже в авиастроении
          li.s-diamond__part.s-diamond__devider
          li.s-diamond__part.s-diamond__part--last.list--secret
            .list
              .list__item
                .secret
                  p.text.secret__text(data-xd!='ZiwtxIG-46') Top Secret
                h3.list__title(data-xd!='dyxImoH-47') Секретная нано-формула #[br]с сапфиром
                p.text(data-xd!='BLLmlOD-49') Создает невидимую углеродную сетку, с шагом 0,000001 мм, которая надежно защищает стекло