section#sform.s-form
  .container
    //---------
    .s-form__top
      h2.name DENTA SEAL
      h3.title.color-base Забудьте про кресло стоматолога навсегда!
    //---------
    .s-form__prod
      .prod
        .sale
          .sale__inner
            p.text -50%
        .label
          .label__inner
            p.text.label__img Зубы
            p.text в порядке
        //removeIf(desktop)
        img.prod__img.only-mobile(src!="img/prod.png" alt!="")
        //endRemoveIf(desktop)
        //removeIf(mobile)
        img.prod__img.only-desktop(src!="img/desktop/prod.png" alt!="")
        //endRemoveIf(mobile)
    //---------
    .grid-D.s-form__grid
      .part-D.s-form__part
        .counter.center-t-M.color-base.bold
          p.text Внимание!
          p.text На складе сталось #[span.counter__num 30] штук!
      .part-D.s-form__part
        .form__wrap
          form#toform.form(method!='POST' action!='#')
            .form__title Оформление заказа
            .form__inner
              .form__field-wrap
                .field
                  .field__select-wrap
                    .field__arrow
                    select#country_code_selector.field__select.field__part(name!='country_code')
                      option(value!='RU') Россия
                .field
                  input.field__input.field__part(type!='text' name!='name' placeholder!='Ваше имя')
                .field
                  input.field__input.field__part.only_number(type!='text' name!='phone' placeholder!='Номер телефона')
                .field.field__info
                  .field__row
                    .field__text.field__label Доставка:
                    .field__number.field__label {{ shipment_price }} {{ currency }}
                  .field__row
                    .field__text.field__label Итого:
                    .field__number.field__label {{ total_price|int }} {{ currency }}
              .button.button--border
                button.button__text.js_submit  
                  | Заказать сейчас