section.s-form
	.s-form__container
		.s-form__grid
			.s-form__part
					.container.container--top
						.s-form__people
						.s-form__inner
							h2.toptitle(data-xd='s-form-1')  
								span.toptitle__top Экономьте
								span.toptitle__small уже 
								span.toptitle__bottom сейчас
							.prod__wrap
								.prod
									.sale
										.sale__inner(data-xd='s-form-2')  
											p.sale__num 50%
											p.sale__text Скидка
									//removeIf(desktop)
									img.only-mobile(src="img/prod.png", alt="")
									//endRemoveIf(desktop)
									//removeIf(mobile)
									img.only-desktop(src="img/desktop/prod.png", alt="")
									//endRemoveIf(mobile)
							.s-form__shadow
								p.s-form__warn(data-xd='s-form-3')   Торопитесь!
								.arrow__border
									span.arrow--border__svg-wrap
										svg(version='1.1', xml:space='preserve', viewbox='0 0 100 100', preserveaspectratio='none')
											polygon(points='0,50 4.6,0  100,0  100,100  4.6,100')
									.arrow.arrow--total
										+angle('left','arrow-body')
										p.arrow--total__text(data-xd='s-form-4') Power Box
										.arrow__inner
											+angle('left','arrow-body')
											p.text(data-xd='s-form-5') Осталось товаров на складе: #[span.count-down 20]


			.s-form__part
					.container.container--bottom
						.form__wrap(data-xd='s-form-6')
							form(method='POST' action='#').form
								.price
									.price__inner
										p.price__text Старая цена: 
										del.price__old {{old_price}} {{currency}}
										.price__new {{price}} {{currency}}
									+angle('bottom')
								.form__title Оформление заказа
								.form__inner
									.form__field-wrap
										.field
											.field__select-wrap
												.field__arrow
												select#country_code_selector.field__select.field__part(name='country_code')
													option(value='RU') Россия
										.field
											input.field__input.field__part(type='text' name='name' placeholder='Ваше имя')
										.field
											input.field__input.field__part.only_number(type='text' name='phone' placeholder='Номер телефона')
										.field.field__info
											.field__row
												.field__text.field__label Доставка:
												.field__number.field__label {{ shipment_price }} {{ currency }}
											.field__row
												.field__text.field__label Итого:
												.field__number.field__label {{ total_price|int }} {{ currency }}
									.button
										button.button__text.js_submit 
											|Заказать сейчас