//removeIf(mobile)
section.s-graf.only-desktop
	.container
		h2.title(data-xd='s-graf-1') Положительно заряженный диод
		.s-graf__grid
			.s-graf__part
				.graf
					.graf__inner
						.prod
							img.prod__img(src="img/desktop/prod-2.png", alt="")
					ul.graf__list(data-xd='s-graf-2')
						li.graf__item ГЦ 70
						li.graf__item ГЦ 60
						li.graf__item ГЦ 50
						li.graf__item ГЦ 40
						li.graf__item ГЦ 30
						li.graf__item ГЦ 20
						li.graf__item ГЦ 10
					.graf__text(data-xd='s-graf-3') Отрицательно заряженный диод
			.s-graf__part
				.arrow__wrap
					.arrow__border
						+angle('right')
					.arrow.arrow--base
						+angle('right')
						.arrow__inner(data-xd='s-graf-4')
							h3.arrow__title Power Box выравнивает течение энергии.
							p.text.arrow__text Электромагнитное действие снижает амплитуду колебания рабочей сети и преобразует переменный ток в постоянный.
				.s-graf__content(data-xd='s-graf-5')
					p.text Стабильное напряжение экономит расход электроэнергии и делает его более функциональным.
//endRemoveIf(mobile)