section.s-help
  .container
    h2.title.only-desktop
      span.title__top Nourishing #[span.t--ex Day Cream] 
      | помог тысячам женщин избавиться #[br] от пигментации и повысить самооценку!
    .bacilli
      .bacilli__inner ФОРМУЛА ЗДОРОВОЙ КОЖИ
    ul.s-help__grid
      li.s-help__part
        h3.pretitle С первого дня применения #[span.pretitle__big.t--ttu.t--bold.t--block  Nourishing Day Cream #[span.t--ex ВЫКЛЮЧАЕТ]] работу меланоцитов
      li.s-help__part
        //removeIf(mobile)
        .prod-virus
          .prod-virus__inner
            img.only-desktop(src!="img/desktop/prod.png" alt!="")
            .prod-virus__dots
        //endRemoveIf(mobile)
      li.s-help__part
        ul.dignity
          li.dignity__item
            .band-ar
              .band-ar__inner
                h4.text Формула "White Light"
              +angle('left')
            p.text блокирует фермент тирозиназу, нарушая  соединение молекул, ведущих к избыточной продукции меланина.
          li.dignity__item
            .band-ar
              .band-ar__inner
                h4.text Nourishing Day Cream
              +angle('left')
            p.text осветляет уже существующие пигментные пятна, и создает на коже невидимую пленку - барьер от UVA и UVB лучей. Крем защищает кожу и исключает вероятность проявления новой пигментации.