section.s-hidro
  .container
    .cadre
      .cadre__box
        .cadre__box-line.cadre__box-line--top
        .cadre__box-line.cadre__box-line--bottom
      h2.title.title--line.cadre__title Гидроксиапатит
      h3.title.cadre__pretitle природный компонент - аналог зубной эмали
      .cadre__content
        p.text В 70-х годах прошлого века #[span.color-base.bold Гидроксиапатит®] синтезировали из морских раковин.
        p.text Это вещество, которое называют жидкой эмалью, уже несколько десятилей используют для профессионального #[span.color-base.bold восстановления зубов в стоматологии.]
        p.text Зубная паста #[span.color-base.bold Denta&nbsp;Seal] содержит наночастицы этого минерала. Они проникают глубоко в эмаль, прочно встраиваются в микропоры на поверхности зубов, таким образом #[span.color-base.bold нормализуя плотность эмали] и восстанавливая естественный #[span.color-base.bold белый цвет].