//removeIf(mobile)
section.s-home.only-desktop
	.container
		h2.title(data-xd='s-home-1') Для дома и бизнеса
		.s-home__grid
			.s-home__part
				.round
					.round__inner
						i.ico.i-furniture
				p.text В квартире
			.s-home__part
				.round
					.round__inner
						i.ico.i-chair
				p.text В офисе
			.s-home__part
				.round
					.round__inner
						i.ico.i-build
				p.text В отеле
			.s-home__part
				.round
					.round__inner
						i.ico.i-cup
				p.text В кафе
			.s-home__part
				.round
					.round__inner
						i.ico.i-basket
				p.text В магазине
//endRemoveIf(mobile)