//removeIf(mobile)
section.s-manual.only-desktop
	.container
		h2.title(data-xd='s-manual-1') Как пользоваться
			.title__name Power Box
		ul.lamps
			li.lamps__item
			li.lamps__item
			li.lamps__item
		.s-manual__grid(data-xd='s-manual-2')
				.s-manual__part
					.s-manual__part-content
						.s-manual__num 1
						i.ico.i-prod
						p.text #[b.t--imp Вставьте в розетку устройство] и больше не вынимайте его
				.s-manual__part
					.s-manual__part-content
						.s-manual__num 2
						i.ico.i-coffee-2
						p.text #[b.t--imp Включайте] любые #[b.t--imp электроприборы]
				.s-manual__part
					.s-manual__part-content
						.s-manual__num 3
						i.ico.i-el
						p.text #[b.t--imp Экономьте на счетах] за электричество
//endRemoveIf(mobile)