section.s-mac
  .container
    h2.title.ttu.color-ex Как работает
    h3.name.ttu.color-base DENTA SEAL
    .tv
      .tv__video
        .tv__inner
          video#main_video.avid(controls!="controls" poster!="" data-url!="/adcombocdn/upload/128/videos/1511996400/deantaseal-tooth-2" data-sub!="DentaSeal")
        .play
    picture.prod
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      source.prod__img(srcset!='img/desktop/prod.png' media!='(min-width: 992px)')
      <!--[if IE 9]></video><![endif]-->
      img