section.s-people
  .container
    .grid-D.s-people__grid
      .part-D.s-people__part
        h2.title.title--line
          span.title__top.color-base Красивая улыбка 
          span.title__bottom и ничего лишнего!
        .list
          .list__head Кариес:
          ul.list__role
            li.list__item
              p.text Плохой запах изо рта
            li.list__item
              p.text Проблемы с желудком
            li.list__item
              p.text Чувствительность эмали
            li.list__item
              p.text Беспокойство из-за восприятия окружающими
        .s-people__info
          h3.name Denta&nbsp;Seal
          p.text эффективно борется с кариесом и устраняет причину этих проблем
      .part-D.s-people__part
        .customer
          .customer__top
          .customer__bottom