section.s-perc
  .container
    h2.title.t--bold.t--ttu Nourishing #[span.t--ex.t--block Day Cream]
    p.text.info помог тысячам женщин избавиться от пигментации и повысить самооценку!
    .big-perc
      .big-perc__num 37 #[span.big-perc__small %]
      .big-perc__content
        p.text В 37% случаев женщины обращаются к психотерапевту из-за дефектов во внешности.
    .s-perc__grid
      .s-perc__part
        .trek__list
          .trek
            span.trek__num 1 
            span.trek__text психозы
          .trek
            span.trek__num 2 
            span.trek__text Депрессии
          .trek
            span.trek__num 3 
            span.trek__text нервные расстройства
      .s-perc__part
        .finality
          .finality__svg
            include ../svg/_finality.pug
          p.finality__big Все это
          p.text.t--ttu внутренние проявления #[br] внешних недостатков