sections#prof.s-prof
  .container
    .s-prof__top
      .s-prof__grid
        .s-prof__part
          h2.title.color-base.ttu Преимущества
        .s-prof__part
          .arrow
            +angle('left')
            .arrow__cover
              .arrow__inner
                p.text DENTA SEAL
    .s-prof__content
      ul.reset-all.grid-D.s-prof__list
        li.reset-all.part-D.s-prof__item
          .s-prof__photo.photo.photo-9
          .ttu.color-base.bold.grid-D.s-prof__caption
            .part-D.s-prof__caption-part
              .num
                p.text 1 
            .part-D.s-prof__caption-part
              span.text профилактика болезней десен
          p.text Мягкие абразивные частицы в составе пасты оказывают легкий #[span.color-imp массажный эффект,] укрепляя десны
          .block.block--line  
        li.reset-all.part-D.s-prof__item
          .s-prof__photo.photo.photo-10
          .ttu.color-base.bold.grid-D.s-prof__caption
            .part-D.s-prof__caption-part
              .num
                p.text 2
            .part-D.s-prof__caption-part
              span.text без вреда для здоровья
          p.text #[span.bold.color-base Denta&nbsp;Seal] основан на натуральных минеральных ингредиентах #[span.color-imp и не содержит фтор, хлоргексидин и триклозан]
          .block.block--line
        li.reset-all.part-D.s-prof__item
          .s-prof__photo.photo.photo-11
          .ttu.color-base.bold.grid-D.s-prof__caption
            .part-D.s-prof__caption-part
              .num
                p.text 3
            .part-D.s-prof__caption-part
              span.text безопасное отбеливание
          p.text Паста #[span.color-imp делает эмаль чистой и блестящей,] не царапая ее не повышая чувствительностьзубов и десен
          .block.block--line