section.s-reduc
	.container
		h2.title(data-xd='s-reduc-1') Power&nbsp;Box
		h3.s-reduc__pretitle
			.s-reduc__pretitle-part
				.arrow
					+angle('right')
					+angle('left')
					.arrow__inner
						p.text(data-xd='s-reduc-2') сокращает потребление энергии
			.s-reduc__pretitle-part
				.arrow
					+angle('right')
					+angle('left')
					.arrow__inner
						p.text(data-xd='s-reduc-3') круглосуточно
		ul.s-reduc__list

			li.list.s-reduc__item
				.list__grid
					.list__part 
						.egoods
							i.goods.i-washer
							.egoods__sale
								p.egoods__sale-text(data-xd='s-reduc-4') -36%
					.list__part
						p.text(data-xd='s-reduc-5') Кондиционер, стиральная машина, телевизор

			li.list.s-reduc__item
				.list__grid
					.list__part
						.egoods
							i.goods.i-icebox
							.egoods__sale
								p.egoods__sale-text(data-xd='s-reduc-6') -43%
					.list__part
						p.text(data-xd='s-reduc-7') Холодильник, электрический чайник

			li.list.s-reduc__item
				.list__grid
					.list__part
						.egoods
							i.goods.i-coffee
							.egoods__sale
								p.egoods__sale-text(data-xd='s-reduc-8') -34%
					.list__part
						p.text(data-xd='s-reduc-9') Утюг, фен, кофеварка, тостер

			li.list.s-reduc__item
				.list__grid
					.list__part
						.egoods
							i.goods.i-multi
							.egoods__sale
								p.egoods__sale-text(data-xd='s-reduc-10') -45%
					.list__part
						p.text(data-xd='s-reduc-11') Микроволновая печь, мультиварка

			li.list.s-reduc__item
				.list__grid
					.list__part
						.egoods
							i.goods.i-water
							.egoods__sale
								p.egoods__sale-text(data-xd='s-reduc-12') -42%
					.list__part
						p.text(data-xd='s-reduc-13') Электрический нагреватель воды
		p.s-reduc__info * Примерные показатели. Результаты могут отличаться в зависимости от региона.
