section.s-reviews
  .container
    h2.title Что говорят девушки, которые уже используют #[span.title__name Nourishing #[span.t--ex Day Cream]]
    ul.reviews.bxslider
      li.reviews__item
        .review
          .review__part
            .turn
              .turn__block
                span.turn__block-before До
                span.turn__block-after После
              .turn__grid
                .turn__item.photo.user-before-1
                .turn__item.photo.user-after-1
          .review__part
            .review__content
              .review__photo.photo.photo-3
              p.review__info.t--ex Лин #[span.review__age 55 лет]
              p.text.t--italic Кожа подтягивается - это факт. Не за 24 дня как пишут, но за месяца 2 точно можно добиться хорошего результата. А тон кожи посветлел уже через неделю использования.  Я утром и вечером наносила крем, хотелось побыстрей эффект увидеть. Буду брать еще.
      li.reviews__item
        .review
          .review__part
            .turn
              .turn__block
                span.turn__block-before До
                span.turn__block-after После
              .turn__grid
                .turn__item.photo.user-before-2
                .turn__item.photo.user-after-2
          .review__part
            .review__content
              .review__photo.photo.photo-4
              p.review__info.t--ex Нэси Чанг #[span.review__age 30 лет]
              p.text.t--italic Раньше страдала от акне, остались темные пятна , которые ничем не могла вывести. Приходилось пользоваться темным тоном, чтобы сровнять  цвет лица. А я люблю светлую , почти фарфоровую кожу.  Косметолог посоветовала попробовать   Nourishing Day Cream . Сейчас лицо чистое и белое, никаких пятен. Советую.
      li.reviews__item
        .review
          .review__part
            .turn
              .turn__block
                span.turn__block-before До
                span.turn__block-after После
              .turn__grid
                .turn__item.photo.user-before-3
                .turn__item.photo.user-after-3
          .review__part
            .review__content
              .review__photo.photo.photo-5
              p.review__info.t--ex Чин Йо #[span.review__age 42 года]
              p.text.t--italic Подолгу провожу во дворе на солнце ухаживая за своим садом. У меня десятки разновидностей роз и пионов. Пару месяцев назад дочка мне принесла флакон этого крема для защиты от солнечных лучей. Со временем заметила, что тон кожи осветлился. Пропали пятнышки, которые были у меня с молодости. Заказала еще флакон.
      li.reviews__item
        .review
          .review__part
            .turn
              .turn__block
                span.turn__block-before До
                span.turn__block-after После
              .turn__grid
                .turn__item.photo.user-before-4
                .turn__item.photo.user-after-4
          .review__part
            .review__content
              .review__photo.photo.photo-6
              p.review__info.t--ex Мэрин #[span.review__age 30 лет]
              p.text.t--italic Проблема пигментации мне передалась по наследству. Хорошо в мое время уже придумали Nourishing Day Cream. За два месяца я избавилась от пятен, кожа стала гладкая, без единого изъяна. Закажу еще одну упаковку для мамы.