section.s-review
  .container
    h2.title.title--border
      span.title__text.t--imp Что говорят  
      span.title__text женщины,
      .title__info которые уже попробовали #[b.t--bold Micellar&nbsp;Water]:
    ul.reviews.bxslider
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-5
              .box
                .box__inner
                  span.user__name Linda 
                  span.user__age 27 лет
          .review__part
            .review__content
              p.text Мне очень нравится именно эта мицеллярная вода. Перепробовала много разных, но эта прям ВАУ! Вроде обычная водичка, а заменяет мне кучу уходовых средств. А так как я постоянно по командировкам - для меня Micellar&nbsp;Water  просто спасение в одном флакончике. Кроме всего прочего,  заметила, что овал лица стал более подтянутым. Ношу всегда в сумке, при удобном случае протираю лицо в течение дня. 
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-4
              .box
                .box__inner
                  span.user__name Джули  
                  span.user__age 33 года
          .review__part
            .review__content
              p.text Раньше страдала от акне, остались темные пятна, которые ничем не могла вывести. Приходилось пользоваться темным тоном, чтобы сровнять  цвет лица. А я люблю светлую, почти фарфоровую кожу.  Косметолог посоветовала попробовать еще Micellar&nbsp;Water.  Я особо не надеялась получить результат от обычной мицеллярной воды... Но ошибалась. Сейчас лицо чистое и белое, никаких пятен. Советую.
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-3
              .box
                .box__inner
                  span.user__name ASIA  
                  span.user__age 26 лет
          .review__part
            .review__content
              p.text У меня очень жирная кожа, а матирующие кремы сильно забивают поры вплоть до образования угрей. Micellar&nbsp;Water  отлично справляется с заявленными свойствами - все работает. Использую утром и вечером. Тон лица стал более ровным. Тональным кремом почти не пользуюсь.
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-2
              .box
                .box__inner
                  span.user__name Chon 
                  span.user__age 31 год
          .review__part
            .review__content
              p.text Я не люблю светлую кожу, всегда загораю. Правда от пигментации в таком случае никуда не деться, но выручает Micellar&nbsp;Water. На баночке не написано, что обладает SPF защитой, но я на пляже постоянно ней протираю лицо. В этом сезоне как леопард уже не хожу, и кожа мягкая, увлажненная, даже если на солнце нахожусь весь день. Еще использую как основу под макияж, в таком случае держится весь день без блеска.
      li.review.review__item
        .review__grid
          .review__part
            .user
              .frame
                .frame__inner
                  i.frame__img.photo.photo-1
              .box
                .box__inner
                  span.user__name ИРЭН 
                  span.user__age 37 лет
          .review__part
            .review__content
              p.text Нравится эта Mircllar&nbsp;Water. Матирует деликатно, не пересушивая. Наконец-то избавилась от отеков под глазами и темных кругов - это заслуга киви в составе. Лицо всегда сияет свежестью, приятное на ощупь, хочется его трогать постоянно, хотя знаю, что микробов полно на руках. В общем - хороший продукт, буду брать еще.