section#reviews.s-review
  .container
    .grid-D.s-review__title-grid
      .part-D.s-review__title-part
        h2.title.title--line Что говорят люди, которые пользуются
      .part-D.s-review__title-part
        h2.name Denta&nbsp;Seal
    ul.reviews.grid-D.bxslider
      li.reviews__item.part-D
        .review
          .review__promo
            .change
              .change__item.photo.photo-4
                .block.block--orange до
              .change__item.photo.photo-5
                .block.block--blue после
            .block.block--line
          .review__content
            p.text Мне 44 года, половину своей жизни я комплексовала из за зубов. Такая генетика. Зубы были желтые, постоянно беспокоили десна. Высокая чувствительность была. К стоматологам кучу денег отнесла, но #[b ничего не приносило такого эффекта как DENTA SEAL. Спасибо производителям. Советую теперь всем перейти на эту пасту.]
          .review__bottom
            .block.block--gr Ольга
          ul.review__dotts
      li.reviews__item.part-D
        .review
          .review__promo
            .change
              .change__item.photo.photo-16
                .block.block--orange до
              .change__item.photo.photo-17
                .block.block--blue после
            .block.block--line
          .review__content
            p.text Пасту стоматолог посоветовал. Я за зубами с детства слежу, раз в 3 месяца у доктора точно появлялась. Кариес полечить, налет убрать, пломбу поставить. Сейчас надобность вообще отпала. #[b.bold Доктор доволен состоянием моих зубов, я  тоже. Подруги думают я фотоотбеливание делала.]
          .review__bottom
            .block.block--gr Мария
          ul.review__dotts
      li.reviews__item.part-D
        .review
          .review__promo
            .change
              .change__item.photo.photo-6
                .block.block--orange до
              .change__item.photo.photo-7
                .block.block--blue после
            .block.block--line
          .review__content
            p.text С возрастом зубы начали крошиться. Половина челюсти запломбирована, несколько зубов пришлось удалить даже. Полоскал корой дуба, чтобы сохранить хоть что-то и было чем жевать, но эмаль слабела с каждым днем. Дочка привезла эту пасту на пробу. #[b.bold Я очень доволен. Зубы перестали болеть, воспаление десен пропало.] Уже полгода к врачам не обращался.
          .review__bottom
            .block.block--gr Михаил
          ul.review__dotts