//removeIf(mobile)
section.s-skills.only-desktop
	.container
		.s-skills__content
			.g-cot
				.g-cot__part
					.praise
						.list
							.list__part
								i.ico.i-fork-3
							.list__part 
								p.text(data-xd='s-skills-1') Просто включите в розетку!
				.g-cot__part
					.praise
						.list
							.list__part
								i.ico.i-calendar
							.list__part 
								p.text(data-xd='s-skills-2') Окупается за месяц использования
				.g-cot__part
					.praise
						.list
							.list__part
								i.ico.i-watch
							.list__part 
								p.text(data-xd='s-skills-3') Прибор не обманывает счетчик
//endRemoveIf(mobile)