section.s-spaceman
  .container
    h2.title Сапфир имеет твердость
      span.title__grid
        span.title__part
          span.title__num 9H
        span.title__part
          span.title__text из 10 возможных
    //removeIf(mobile)
    .s-spaceman__content.only-desktop
      .wiki
        h3.wiki__title
          span.wiki__title-text Крепче только алмаз
        p.text (По минералогической шкале твердости Мооса). Твердость по шкале определяется царапанием поверхности. Это значит, что повредить сапфировую поверхность может лишь бриллиант.
      .lent
        .lent__grid
          .lent__part
            .aim
              .aim__border
              .aim__inner
                p.aim__text.text Именно поэтому сапфировые покрытия используют для производства
                h2.aim__title особо крепких предметов:
          .lent__part
            ul.list
              li.list__item
                .list__part
                  i.ico.i-round-window
                .list__part
                  p.text Иллюминаторов в космических станциях
              li.list__item
                .list__part
                  i.ico.i-jelet
                .list__part
                  p.text Бронежилетов
              li.list__item
                .list__part
                  i.ico.i-saw
                .list__part
                  p.text Режущих инструментов
    //endRemoveIf(mobile)