section.s-sea
  .container
    .s-sea__fish
    .s-sea__grid
      .s-sea__part
        h2.title
          span.title__text Micellar 
          span.title__text water
          .title__info совершенствует любой тип кожи в любом возрасте
      .s-sea__part
        .perc
          .perc__num 86%
          p.text женщин отказались от привычных уходовых средств и декоративной косметики в пользу
        .band.band--blue
          .band__inner
            p.text #[span.t--bold Micellar] Water