section.s-tooth
  .container
    .s-tooth__inner
      h2.title Этапы восстановления эмали за 28 дней
      picture.prod
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        source.prod__img(srcset!='img/desktop/prod.png' media!='(min-width: 992px)')
        <!--[if IE 9]></video><![endif]-->
        img
      .scale
        .grid-D.scale__grid
          .part-D.scale__item
            .scale__photo.photo.photo-12
            p.text.scale__title Через одну неделю
          .part-D.scale__item
            .scale__photo.photo.photo-13
            p.text.scale__title Через две недели
          .part-D.scale__item
            .scale__photo.photo.photo-14
            p.text.scale__title Через три недели
          .part-D.scale__item
            .scale__photo.photo.photo-15
            p.text.scale__title Через один месяц