section.s-time
  .container
    .time
      .time__part
        .watch
          span.watch__num.watch__num--first 2
          span.watch__num.watch__num--last 4
          .watch__day дня
      .time__part
        p.text Рекомендованная продолжительность курса
        p.text.time__info Эффективность продукта доказана десятками исследований и женщинами по всей Азии
    .s-time__grid
      .s-time__part
        h3.band.band--1 ДЕЛИКАТНОЕ ОСВЕТЛЕНИЕ КОЖИ
        ul.list.list--mark
          li.list__item  
            p.text Активный компонент осветляющей нано формулы "#[b.t--bold White Light]" - вытяжка из тутовника.
          li.list__item  
            p.text Экстракт растения #[b.t--bold уменьшает выработку меланина], подавляя ключевые ферменты в процессе образования пигментации. Осветляет существующие пигментные пятна и предотвращает появление новых.
      .s-time__part.s-time__part--devider
        .change
          .change__block
            .change__left До
            .change__right После
      .s-time__part.s-time__part--middle
        h3.band.band--2 РАЗГЛАЖИВАНИЕ МОРЩИН
        ul.list.list--mark
          li.list__item  
            p.text Заметный лифтинг эффект #[b.t--bold Nourishing&nbsp;Day&nbsp;Cream]  достигается за счет улиточной слизи. Она содержит сложный белок - полипептид.
          li.list__item  
            p.text Этот компонент стимулирует выработку естественного коллагена и эластина в коже человека. #[b.t--bold Улиточный секрет] нормализует гидробаланс кожи,  удерживает в клетках необходимую влагу и препятствует старению.
    .s-time__grid
      .s-time__part.s-time__part--last
        h3.band.band--3 ЗАЩИТА 24/7
        ul.list.list--mark
          li.list__item
            p.text В состав крема входят  инкапсулированные солнечные фильтры. Они отражают #[b.t--bold UVA, UVB лучи] и защищают кожу от преждевременного старения.
          li.list__item
            p.text #[b.t--bold Фильтры повышают] местный иммунитет кожи,  защищая ее от ультрафиолетового излучения, ветра и других воздействий окружающей среды.