section.s-why
  .container
    h2.title(data-xd!='jiLKVIZ-4') Почему 
      span.title__name Nano Saphire
    .s-why__grid
      .s-why__part
        //removeIf(mobile)
        .cover.cover--dark.only-desktop
          h3.cover__title(data-xd!='ajHXDUV-9') Защитная пленка
          .cover__info
            p.text(data-xd!='ZAFGIsp-11') Срок защиты: #[b.t--bold до 3 месяцев]
          .cover__content
            ul.list
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text(data-xd!='PBzNltm-19') Легко появляются царапины
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text(data-xd!='tIKFyWm-24') Возникают пузыри, которые ухудшают работу Touch Screen
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text(data-xd!='krfqohu-29') Ухудшается яркость
          .cover__bottom
        //endRemoveIf(mobile)
      .s-why__part
        .cover
          h3.cover__title(data-xd!='FOHUsQD-33') Nano Sapphere
          .cover__info
            p.text(data-xd!='UThYqjL-35') Срок защиты: #[b.t--ex.t--bold до 1 года]
          .cover__content
            ul.list
              li.list__item
                .list__part
                  i.ico.i-tick
                .list__part
                  p.text(data-xd!='ffwyYsq-43') Легко наносится
              li.list__item
                .list__part
                  i.ico.i-tick
                .list__part
                  p.text(data-xd!='HDObyAT-48') Не заметен на стекле
              li.list__item
                .list__part
                  i.ico.i-tick
                .list__part
                  p.text(data-xd!='TVCnbxf-53') Укрепляет экран
              li.list__item
                .list__part
                  i.ico.i-tick
                .list__part
                  p.text(data-xd!='hNfggdF-58') Повышает четкость изображения
          .cover__bottom
            .button.toform
              button.button__text(data-xd!='QVTnQeU-61') Заказать Сейчас
      .s-why__part
        //removeIf(mobile)
        .cover.cover--dark.only-desktop
          h3.cover__title(data-xd!='XztlOMu-64') Закаленное стекло
          .cover__info
            p.text(data-xd!='kgbpRwu-66') Срок защиты: #[b.t--bold до 6 месяцев]
          .cover__content
            ul.list
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text(data-xd!='hupSVOk-74') Оставляет клей на дисплее при удалении
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text(data-xd!='nOjhuIh-79') Трещины на краях портят внешний вид
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text(data-xd!='wUqmcnp-84') Царапины ухудшают работу touch screen
          .cover__bottom
        //endRemoveIf(mobile)