section.s-why
  .container
    h2.title Почему 
      span.title__name Nano Saphire
    .s-why__grid
      .s-why__part
        //removeIf(mobile)
        .cover.cover--dark.only-desktop
          h3.cover__title Защитная пленка
          .cover__info
            p.text Срок защиты: #[b.t--bold до 3 месяцев]
          .cover__content
            ul.list
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text Легко появляются царапины
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text Возникают пузыри, которые ухудшают работу Touch Screen
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text Ухудшается яркость
          .cover__bottom
        //endRemoveIf(mobile)
      .s-why__part
        .cover
          h3.cover__title Nano Sapphere
          .cover__info
            p.text Срок защиты: #[b.t--ex.t--bold до 1 года]
          .cover__content
            ul.list
              li.list__item
                .list__part
                  i.ico.i-tick
                .list__part
                  p.text Легко наносится
              li.list__item
                .list__part
                  i.ico.i-tick
                .list__part
                  p.text Не заметен на стекле
              li.list__item
                .list__part
                  i.ico.i-tick
                .list__part
                  p.text Укрепляет экран
              li.list__item
                .list__part
                  i.ico.i-tick
                .list__part
                  p.text Повышает четкость изображения
          .cover__bottom
            .button.toform
              button.button__text Заказать Сейчас
      .s-why__part
        //removeIf(mobile)
        .cover.cover--dark.only-desktop
          h3.cover__title Закаленное стекло
          .cover__info
            p.text Срок защиты: #[b.t--bold до 6 месяцев]
          .cover__content
            ul.list
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text Оставляет клей на дисплее при удалении
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text Трещины на краях портят внешний вид
              li.list__item
                .list__part
                  i.ico.i-no
                .list__part
                  p.text Царапины ухудшают работу touch screen
          .cover__bottom
        //endRemoveIf(mobile)