//removeIf(mobile)
section.s-why.only-desktop
  .container
    .s-why__leaf.s-why__leaf-1
    .s-why__leaf.s-why__leaf-2
    .s-why__inner
      h2.title.t--ttu
        span.title__top.t--block Почему 
        span.title__middle.t--block Nourishing #[span.t--imp.t--bold Day Cream] 
        | ОБЕСПЕЧИВАЕТ ТАКОЙ ЗАМЕТНЫЙ ЭФФЕКТ
    .s-why__content
      .gmo
        span.gmo__num 1
        span.gmo__round
        span.gmo__natural
        span.gmo__perc %
      ul.list.list--light
        li.list__item Натуральные компоненты
        li.list__item ЭФФЕКТИВНОСТЬ
        li.list__item Без парабенов и консервантов
    .prod
      img(src!="img/desktop/prod-2.png" alt!="")
//endRemoveIf(mobile)