extends ../_template
block variables
  - pageTitle = 'Nano Sapphire'
  - page = 'home'
block content
  //- include ../sections/_modules
  include ../sections/_header
  include ../sections/_s-what
  include ../sections/_s-spaceman
  include ../sections/_s-diamond
  include ../sections/_s-break
  include ../sections/_s-why
  include ../sections/_s-glass
  include ../sections/_s-dev
  include ../sections/_s-lent
  include ../sections/_s-doc
  include ../sections/_s-review
  include ../sections/_s-form
