extends ../_template
block variables
  - pageTitle = 'Diabetegen'
  - page = 'home'
block content
  include ../sections/_popup
  include ../sections/_header
  include ../sections/_s-help
  include ../sections/_s-form
  include ../sections/_s-help-mobile
  include ../sections/_s-descr
  include ../sections/_s-skills
  include ../sections/_s-cow
  include ../sections/_s-reviews
  include ../sections/_s-change
  include ../sections/_s-diploms
  //- include ../sections/_s-serf
  include ../sections/_s-form-2
  //- include ../sections/_modules
