@import 'core/_vars.scss';




$container: 980px;
$gutter: 15px;
$fontBase: 'Open Sans', sans-serif;


$imgPath : '../img/desktop';



/* removeIf(desktop) */
@media only screen and (min-width: $notebook ){
/* endRemoveIf(desktop) */

    @import 'libs/orb/_orb.scss';
    @import 'modules/_classes--m.scss';

    body,html{
        font-family: $fontBase;
        /* removeIf(mobile) */
        min-width: 975px;
        font-size: 20px;
        /* endRemoveIf(mobile) */
    }





    .container{
        max-width: $container;
    }









@import 'styles/desktop/_m--modules.scss';
@import 'styles/desktop/_m--sections.scss';



    .only{
        &-mobile{
            display: none;
        }
        &-desktop{
            display: block;
        }
    }




/* removeIf(desktop) */
}
/* endRemoveIf(desktop) */



@media only screen and (min-width: 1784px ){
    
    .header{
        &:before,&:after{
            display: block;
        }
    }

    .header .container{
        &:before,&:after{
            display: none;
        }
    }

}

@media only screen and (min-width: 2040px ){
    .s-doc{
        &:before{
            display: block;
        }
    }

    .s-doc .container{
        &:before{
            display: none;
        }
    }
}