header.header
  .container
    .prod
      .sale
        .sale__inner
          p.text(data-xd!='LSHGTSz-7') -50%
      //removeIf(desktop)
      img.prod__img.only-mobile(src!="img/prod.png" alt!="")
      //endRemoveIf(desktop)
      //removeIf(mobile)
      img.prod__img.only-desktop(src!="img/desktop/prod.png" alt!="")
      //endRemoveIf(mobile)
    .header__top.only-desktop
      .grid-D.header__top-grid
        .part-D.header__top-part
          .logo.only-desktop
            .logo__inner
              p.text(data-xd!='EBJzMIk-15') Для здоровья зубов
        .part-D.header__top-part
          nav.menu.ttu.bold.color-base.only-desktop
            .menu__inner
              .menu__part
                a.text(href!="#prof" data-xd!='eBjwZeX-20') Как работает
              .menu__part
                a.text(href!="#doc" data-xd!='fcqyeIB-22') Мнение эксперта
              .menu__part
                a.text(href!="#reviews" data-xd!='dLIxoVZ-24') Отзывы покупателей
              .menu__part
                a.text(href!="#sform" data-xd!='gOEWtKJ-26') Заказать 
      .header__rang
        .rang
          .rang__title(data-xd!='QyAiNso-29') Рейтинг товара
          ul.rang__list
            li.rang__item
              i.ico.ico-star
            li.rang__item
              i.ico.ico-star
            li.rang__item
              i.ico.ico-star
            li.rang__item
              i.ico.ico-star
            li.rang__item
              i.ico.ico-star
    .header__name
      .name(data-xd!='IilrxOB-42') DENTA SEAL
      .info(data-xd!='LQnDmUN-43') зубная паста с эффектом пломбирования
    .grid-M.header__total-grid
      .header__content
        .grid-D.header__content-grid
          .part-D.header__content-part
            .skills.skills__simple
              ul.skills__list
                li.skills__item
                  .grid
                    .part
                      i.ico.ico-1
                    .part
                      p.text.bold.color-base(data-xd!='hEjVUAH-55') Устраняет #[span.regular-D начальные кариесные] дефекты
                li.skills__item
                  .grid
                    .part
                      i.ico.ico-2
                    .part
                      p.text.bold.color-base(data-xd!='AQHauqR-62') Пломбирует микротрещины #[span.regular-D и микропоры на зубах]
                li.skills__item
                  .grid
                    .part
                      i.ico.ico-3
                    .part
                      p.text.bold.color-base(data-xd!='npkiiHs-69') Возвращает белизну, #[span.regular-D снижает чувствительность эмали]
          .only-desktop.part-D.header__content-part
            .skills.skills--desk
              .title.ttu.color-base(data-xd!='iCpSQZQ-73') Как заказать:
              ul.skills__list
                li.skills__item
                  .grid
                    .part
                      i.ico.ico-4
                    .part
                      p.text(data-xd!='CReRDbu-80') Оформляете заявку на нашем сайте
                li.skills__item
                  .grid
                    .part
                      i.ico.ico-5
                    .part
                      p.text(data-xd!='vyzJEXx-86') Наш менеджер звонит вам
                li.skills__item
                  .grid
                    .part
                      i.ico.ico-6
                    .part
                      p.text(data-xd!='ncGhBVt-92') Доставка до двери
                li.skills__item
                  .grid
                    .part
                      i.ico.ico-7
                    .part
                      p.text(data-xd!='VxdpGfN-98') Оплата после получения
      .header__bottom.dis-table-caption-M
        .grid-D.header__controll
          .part-D.header__controll-part
            .price
              .grid-D.price__top
                .part-D
                  .price__info.bold(data-xd!='UVNXpOj-105') Сегодня акция:
                .part-D
                  del.price__item.price__old(data-xd!='DUhXxTA-107') {{ price__old }} #[span.price__cur {{ currency}}]
              p.price__item.price__new.bold(data-xd!='PBTFWgH-109') {{ price}} #[span.price__cur {{ currency}}]
          .part-D.header__controll-part
            .button.toform
              button.button__text(data-xd!='gQTYFVm-113') Заказать сейчас