style.
  body{
  	background: #eee;
  }
  .row{
  	border-top: 1px solid red;
  	border-bottom: 1px solid red;
  	padding: 10px 0;
  	margin: 10px 0;
  }
  
  
  
//- Name
.row
  .container
    .name(data-xd!='UhxIBcN-4') DENTA SEAL
//- Info
.row
  .container
    .info(data-xd!='dAWIBsw-7') зубная паста с эффектом пломбирования
//- Info
.row
  .container
    .price
      .grid-D.price__top
        .part-D
          .price__info.bold(data-xd!='ZqgvJiY-13') Сегодня акция:
        .part-D
          del.price__item.price__old(data-xd!='TDGRNJM-15') {{ price__old }} #[span.price__cur {{ currency}}]
      p.price__item.price__new.bold(data-xd!='vZgbtEV-17') {{ price}} #[span.price__cur {{ currency}}]
//- button
.row
  .container
    .center-t
      .button.toform
        button.button__text(data-xd!='MXluQdt-23') Заказать сейчас
//- skills desk
.row
  .container
    .skills
      ul.skills__list
        li.skills__item
          .grid
            .part
              i.ico.ico-1
            .part
              p.text.bold.color-base(data-xd!='YzEBwCx-33') Устраняет #[span.regular-D начальные кариесные] дефекты
        li.skills__item
          .grid
            .part
              i.ico.ico-2
            .part
              p.text.bold.color-base(data-xd!='sgvancF-40') Пломбирует микротрещины #[span.regular-D и микропоры на зубах]
        li.skills__item
          .grid
            .part
              i.ico.ico-3
            .part
              p.text.bold.color-base(data-xd!='MWalgsp-47') Возвращает белизну, #[span.regular-D снижает чувствительность эмали]
//- skills desk
.row
  .container
    .skills.skills--desk.only-desktop
      ul.skills__list
        li.skills__item
          .grid
            .part
              i.ico.ico-4
            .part
              p.text(data-xd!='nmJGQzy-58') Оформляете заявку на нашем сайте
        li.skills__item
          .grid
            .part
              i.ico.ico-5
            .part
              p.text(data-xd!='gFXRIWm-64') Наш менеджер звонит вам
        li.skills__item
          .grid
            .part
              i.ico.ico-6
            .part
              p.text(data-xd!='tBXqoyc-70') Доставка до двери
        li.skills__item
          .grid
            .part
              i.ico.ico-7
            .part
              p.text(data-xd!='OycfWCA-76') Оплата после получения
.row
  .container
    .rang.only-desktop
      .rang__title(data-xd!='InWAaMr-80') Рейтинг товара
      ul.rang__list
        li.rang__item
          i.ico.ico-star
        li.rang__item
          i.ico.ico-star
        li.rang__item
          i.ico.ico-star
        li.rang__item
          i.ico.ico-star
        li.rang__item
          i.ico.ico-star
//- .row
//- 	.container
//- 		.sale
//- 			.sale__inner
//- 				p.text -50%
.row
  .container
    nav.menu.ttu.bold.color-base.only-desktop
      .menu__inner
        .menu__part
          a.text(href!="" data-xd!='kAqSMdJ-97') Аптека
        .menu__part
          a.text(href!="" data-xd!='IDJyFzl-99') Продукт
        .menu__part
          a.text(href!="" data-xd!='jPxGalq-101') Описание
        .menu__part
          a.text(href!="" data-xd!='pdVugLi-103') Отзывы
.row
  .container
    .prod
      //removeIf(desktop)
      img.prod__img.only-mobile(src!="img/prod.png" alt!="")
      //endRemoveIf(desktop)
      //removeIf(mobile)
      img.prod__img.only-desktop(src!="img/desktop/prod.png" alt!="")
      //endRemoveIf(mobile)
.row
  .container
    .prod
      .sale
        .sale__inner
          p.text(data-xd!='gKfPyPm-114') -50%
      //removeIf(desktop)
      img.prod__img.only-mobile(src!="img/prod.png" alt!="")
      //endRemoveIf(desktop)
      //removeIf(mobile)
      img.prod__img.only-desktop(src!="img/desktop/prod.png" alt!="")
      //endRemoveIf(mobile)
.row
  .container
    .num
      p.text(data-xd!='ZurNZTs-120') 1
.row
  .container
    .cover
      p.text(data-xd!='oRXsAyH-124') Основа восстанавливающей формулы #[span.bold.ttu.color-base DENTA&nbsp;SEAL] - гидроксиапатит. Его частицы пломбируют поры и фиссуры, образующиеся на поверхности эмали.
      p.text(data-xd!='cHACIuE-126') В результате #[span.bold.color-base эмаль становится белоснежной и более устойчивой] к воздействию бактерий зубного налета.
.row
  .container
    .hand.only-desktop
.row
  .container
    .arrow.only-desktop
      +angle('left')
      .arrow__cover
        .arrow__inner
          p.text(data-xd!='imiLWCs-136') DENTA SEAL
.row
  .container
    .devider
      .round
        i.ico.ico-8
.row
  .container
    .doc
      h2.title.color-imp(data-xd!='NwbwcDp-145') ЧТО ГОВОРЯТ О #[span.dis-block.color-base DENTA&nbsp;SEAL] СПЕЦИАЛИСТЫ?
      .doc__inner.dis-table-M
        .doc__content
          p.text.only-desktop(data-xd!='VqEaEJx-149') Многие зубные пасты не способны защитить от кариеса - они только помогают вычищать остатки пищи из зубов, создавая хорошую пену. Для полноценного ухода этого недостаточно.
          p.text(data-xd!='ixuTdhP-150') #[span.ttu.color-base.bold DENTA&nbsp;SEAL] - прорыв в области домашнего ухода за ротовой полостью. Благодаря гидроксиапатиту паста уже на этапе чистки проникает в эмаль и #[span.color-imp заполняет все трещины, восстанавливая зубы и восполняя недостаток кальция и фосфата.]
        .doc__user.dis-table-caption-M
          .doc__photo.only-mobile
          p.text(data-xd!='BRgmVxM-155') #[span.bold-D.italic-D доктор стоматологического центра] Ирэн Муник
.row
  .container
    .form__wrap
      form#toform.form(method!='POST' action!='#')
        .form__title.bold(data-xd!='hiTBKPH-161') Оформление заказа
        .form__inner
          .form__field-wrap
            .field
              .field__select-wrap
                .field__arrow
                select#country_code_selector.field__select.field__part(name!='country_code' data-xd!='YJjPuEP-167')
                  option(value!='RU') Россия
            .field(data-xd!='jvKJOaV-170')
              input.field__input.field__part(type!='text' name!='name' placeholder!='Ваше имя')
            .field(data-xd!='wcnSXPa-172')
              input.field__input.field__part.only_number(type!='text' name!='phone' placeholder!='Номер телефона')
            .price
              .grid.price__top
                .part
                  .price__info.bold(data-xd!='xSBRqhL-176') Сегодня акция:
                .part
                  del.price__item.price__old(data-xd!='YNPzFEh-178') {{ price__old }} #[span.price__cur {{ currency}}]
              p.price__item.price__new.bold(data-xd!='btVzlhz-180') {{ price}} #[span.price__cur {{ currency}}]
            .field.field__info
              .field__row
                .field__text.field__label(data-xd!='vFHXYjA-184') Доставка:
                .field__number.field__label(data-xd!='nrQxaoA-185') {{ shipment_price }} {{ currency }}
              .field__row
                .field__text.field__label(data-xd!='YjnQTwm-187') Итого:
                .field__number.field__label(data-xd!='TJedtgD-188') {{ total_price|int }} {{ currency }}
          .button.button--border
            button.button__text.js_submit(data-xd!='bNZRokS-190')  
              | Заказать сейчас
.row
  .container
    .label
      .label__inner
        p.text.label__img(data-xd!='zWJSjCq-195') Зубы
        p.text(data-xd!='RqUIFKq-196') в порядке
.row
  .container
    .counter.center-t-M.color-base.bold
      p.text(data-xd!='szhbmAb-200') Внимание!
      p.text(data-xd!='atCrEpq-201') На складе сталось #[span.counter__num 9 штук!]
.row
  .container
    .block.block--orange
      p.text(data-xd!='HsUqQvO-206') до
    .block.block--blue
      p.text(data-xd!='IYpqkgf-208') после
    .block.block--gr
      p.text(data-xd!='iEgqCef-210') Ольга
    .block.block--line
.row
  .container
    .frame.only-desktop
      .frame__inner
        span.frame__num(data-xd!='NwukcWr-216') 1
        i.ico.ico-9
      .frame__arrow
.row
  .container
    .logo.only-desktop
      .logo__inner
        p.text(data-xd!='oHGLOAH-223') Для здоровья зубов