section.s-doc
  .container
    .band__wrap
      .band.band--blue
        .band__inner
          p.text(data-xd!='XniMjBB-7')
            | What do specialists say?
    .shtamp.only-desktop
      .shtamp__inner
        p.text(data-xd!='fokuEiX-10')
          | Approved
    ul.s-doc__grid
      li.s-doc__part
        .doc
          .doc__inner
            .doc__content
              h4.doc__name(data-xd!='JgkAMfA-16')
                | Alan Watson
              h5.doc__info(data-xd!='CIgAxoG-17')
                | Doctor - Dermatologist in cosmetology centre
      li.s-doc__part
        h2.title
          .title__info(data-xd!='OquGZlQ-20')
            | Female beauty begins with
          span.title__text.t--imp.t--bold(data-xd!='SXGBKQO-21')
            | Micellar
          span.title__text(data-xd!='IHwjDQI-22')
            | water
        ul.list.list--disk.list--icons
          li.list__item.only-desktop
            .list__part
              span.list__ball
              i.ico.i-cos
            .list__part  
              p.text.text--dark(data-xd!='VsYKBVP-29')
                | Every day every girl uses a large amount of nurturing and decorative cosmetics. Creams, tonics, lotions, and serums - dozens of different bottles and jars still do not bring the desired effect. The skin is still tightened and the greasy shine does not go away.
          li.list__item
            .list__part
              span.list__ball
              i.ico.i-spray
            .list__part
              h5.list__title #[b.t--bold(data-xd!='SykAoUi-36')]
                  span.t--imp Micellar water
                  | successfully replaces these numerous and ineffective means.]
              p.text.text--dark(data-xd!='oKqtVSW-38')
                | Micellar water is unique - it can safely be considered a number one skincare product. Micellar Water does not just cleanse the skin of dirt, it gently cares for it and protects it.
          li.list__item
            .list__part
              span.list__ball
              i.ico.i-head
            .list__part
              p.text.text--dark(data-xd!='BsUSXKk-44')
                b.t--bold
                  span.t--imp My clients
                  | noted
                | a significant improvement in the face: toning, moisturizing, freshness, and little lifting effect. A smooth tone of skin allows to reduce the use of make-up.