section#doc.s-doc
  .container
    .doc
      h2.title.color-imp(data-xd!='BowEwgd-5') ЧТО ГОВОРЯТ О #[span.dis-block.color-base DENTA&nbsp;SEAL] СПЕЦИАЛИСТЫ?
      .doc__inner.dis-table-M
        .doc__content
          p.text.only-desktop(data-xd!='rOaacOQ-9') Многие зубные пасты не способны защитить от кариеса - они только помогают вычищать остатки пищи из зубов, создавая хорошую пену. Для полноценного ухода этого недостаточно.
          p.text(data-xd!='sPKoquJ-10') #[span.ttu.color-base.bold DENTA&nbsp;SEAL] - прорыв в области домашнего ухода за ротовой полостью. Благодаря гидроксиапатиту паста уже на этапе чистки проникает в эмаль и #[span.color-imp заполняет все трещины, восстанавливая зубы и восполняя недостаток кальция и фосфата.]
        .doc__user.dis-table-caption-M
          .doc__photo.only-mobile
          p.text.bold(data-xd!='AoWApmS-15') #[span.italic-D доктор стоматологического центра] Ирэн Муник