section#sform.s-form
  .container
    //---------
    .s-form__top
      h2.name(data-xd!='GXGdpmH-5') DENTA SEAL
      h3.title.color-base(data-xd!='PuYFNuQ-6') Забудьте про кресло стоматолога навсегда!
    //---------
    .s-form__prod
      .prod
        .sale
          .sale__inner
            p.text(data-xd!='asqobur-11') -50%
        .label
          .label__inner
            p.text.label__img(data-xd!='hZcNHAq-14') Зубы
            p.text(data-xd!='UdHTETJ-15') в порядке
        //removeIf(desktop)
        img.prod__img.only-mobile(src!="img/prod.png" alt!="")
        //endRemoveIf(desktop)
        //removeIf(mobile)
        img.prod__img.only-desktop(src!="img/desktop/prod.png" alt!="")
        //endRemoveIf(mobile)
    //---------
    .grid-D.s-form__grid
      .part-D.s-form__part
        .counter.center-t-M.color-base.bold
          p.text(data-xd!='hNkdsiS-21') Внимание!
          p.text(data-xd!='fXCVhJE-22') На складе сталось #[span.counter__num 30] штук!
      .part-D.s-form__part
        .form__wrap
          form#toform.form(method!='POST' action!='#')
            .form__title.bold(data-xd!='qLfzqzV-27') Оформление заказа
            .form__inner
              .form__field-wrap
                .field
                  .field__select-wrap
                    .field__arrow
                    select#country_code_selector.field__select.field__part(name!='country_code' data-xd!='zivptOF-33')
                      option(value!='RU') Россия
                .field(data-xd!='qpdMcik-36')
                  input.field__input.field__part(type!='text' name!='name' placeholder!='Ваше имя')
                .field(data-xd!='oBaeJgG-38')
                  input.field__input.field__part.only_number(type!='text' name!='phone' placeholder!='Номер телефона')
                .price
                  .grid.price__top
                    .part
                      .price__info.bold(data-xd!='JFOiECk-42') Сегодня акция:
                    .part
                      del.price__item.price__old(data-xd!='VSfDnZy-44') {{ price__old }} #[span.price__cur {{ currency}}]
                  p.price__item.price__new.bold(data-xd!='vLgAWLy-46') {{ price}} #[span.price__cur {{ currency}}]
                .field.field__info
                  .field__row
                    .field__text.field__label(data-xd!='RMYqIFX-50') Доставка:
                    .field__number.field__label(data-xd!='ukHfsJF-51') {{ shipment_price }} {{ currency }}
                  .field__row
                    .field__text.field__label(data-xd!='SJtanDz-53') Итого:
                    .field__number.field__label(data-xd!='TNfOMpN-54') {{ total_price|int }} {{ currency }}
              .button.button--border
                button.button__text.js_submit(data-xd!='SKXUfoB-56')  
                  | Заказать сейчас