//removeIf(mobile)
section#how.s-how.only-desktop
  .container
    .s-how__inner
      .s-how__top
        h2.title.ttu(data-xd!='tSvDjZM-6') Как заказать 
        h3.name.ttu.color-base(data-xd!='QPfZkel-7') DENTA SEAL
      .grid.center-t.s-how__grid
        .part.s-how__part
          .frame
            .frame__inner
              span.frame__num(data-xd!='oDwyaWO-12') 1
              i.ico.ico-9
            .frame__arrow
          p.text(data-xd!='yvWKzjy-15') Вы #[b.bold.color-base оставляете заявку] на сайте
        .part.s-how__part
          .frame
            .frame__inner
              span.frame__num(data-xd!='TgAcyjd-20') 2
              i.ico.ico-10
            .frame__arrow
          p.text(data-xd!='bVSVqbZ-23') Наш #[b.bold.color-base менеджер перезванивает вам] и оформляет заказ
        .part.s-how__part
          .frame
            .frame__inner
              span.frame__num(data-xd!='aYXmcIG-28') 3
              i.ico.ico-11
            .frame__arrow
          p.text(data-xd!='TQZAaXx-31') Вы #[b.bold.color-base получаете товар] по почте
        .part.s-how__part
          .frame
            .frame__inner
              span.frame__num(data-xd!='EfsDLlT-36') 4
              i.ico.ico-12
          p.text(data-xd!='BFJUiAH-38') Производите #[b.bold.color-base оплату по факту] получения
    .prod
      img.prod__img.only-desktop(src!="img/desktop/prod.png" alt!="")
//endRemoveIf(mobile)