section.s-hand
  .container
    .s-hand__top
      .grid-D
        .part-D.s-hand__part
          .name.color-base.only-desktop(data-xd!='iCeRLna-7') DENTA #[span.name__bottom SEAL]
        .part-D.s-hand__part
          h2.title(data-xd!='OhTDTMH-10') Улучшенная формула для профилактики кариеса
    .s-hand__content
      .cover
        p.text(data-xd!='ieiqiTY-13') Основа восстанавливающей формулы #[span.bold.ttu.color-base DENTA&nbsp;SEAL] - гидроксиапатит. Его частицы пломбируют поры и фиссуры, образующиеся на поверхности эмали.
        p.text(data-xd!='FGCAkgN-15') В результате #[span.bold.color-base эмаль становится белоснежной и более устойчивой] к воздействию бактерий зубного налета.
      .hand.only-desktop
      //removeIf(mobile)
      .prod
        img.prod__img.only-desktop(src!="img/desktop/prod.png" alt!="")
      //endRemoveIf(mobile)