section.s-mac
  .container
    //-------
    .s-mac__top.color-base.bold
      p.text(data-xd!='bTEUmAM-5') Министерство здравоохранения Японии в 1993 официально #[span.color-ex признало гидроксиапатит самым эффективным] противокариесным средством
      .devider
        .round
          i.ico.ico-8
    //-------
    .s-mac__content
      h2.title.ttu.color-ex(data-xd!='eDtwCcf-11') Как работает
      h3.name.ttu.color-base(data-xd!='AoRyuLm-12') DENTA SEAL
      .tv
        .tv__video
          .tv__inner
            video#main_video.avid(controls!="controls" poster!="" data-url!="/adcombocdn/upload/128/videos/1511996400/deantaseal-tooth-2" data-sub!="DentaSeal")
          .play
        .tv__bottom
      //removeIf(mobile)
      .prod.only-desktop
        img.prod__img(src!="img/desktop/prod.png" alt!="")
      //endRemoveIf(mobile)
    .s-mac__bottom.only-mobile
      p.text(data-xd!='zapCKnl-22') Гидроксиапатит #[span.color-imp заполняет трещины и отшлифовывает поверхность.] Эмаль становится глакой и блестящей, #[span.color-imp восстанавливается цвет.]