sections#prof.s-prof
  .container
    .s-prof__top
      .s-prof__grid
        .s-prof__part
          h2.title.color-base.ttu(data-xd!='SoxVrXw-7') Профессиональный уход у вас дома
        .s-prof__part
          .arrow.only-desktop
            +angle('left')
            .arrow__cover
              .arrow__inner
                p.text(data-xd!='gmAFlvX-12') DENTA SEAL
    .s-prof__content
      ul.reset-all.grid-D.s-prof__list
        li.reset-all.part-D.s-prof__item
          .s-prof__photo.photo.photo-1
          .ttu.color-base.bold.s-prof__caption
            .num
              p.text(data-xd!='agSWTOx-19') 1 
            span.text(data-xd!='vqbhExN-20') укрепление эмали
          p.text(data-xd!='poiUsvj-21') #[span.color-imp.bold Гидроксиапатит запечатывает открытые дентинные канальцы] и защищает пульпу от внешнего воздействия.
          p.text.only-desktop(data-xd!='JtzmZdR-23') Это предотвращает возникновение боли и #[span.color-imp.bold укрепляет эмаль.]
          .block.block--line  
        li.reset-all.part-D.s-prof__item
          .s-prof__photo.photo.photo-2
          .ttu.color-base.bold.s-prof__caption
            .num
              p.text(data-xd!='asrzBdT-30') 2 
            span.text(data-xd!='fJlxBtD-31') удаление бактерий
          p.text.only-desktop.gutter-bottom(data-xd!='vmEnKcu-32') Трещины и фиссуры на зубах создают бактериям хорошие условия для закрепления, а в последующемразрушения зубов.
          p.text(data-xd!='IvsSkQI-33') #[span.color-imp.bold Во время чистки зубов паста #[span.ttu DENTA&nbsp;SEAL] захватывает бактерии и частицы налета,] облегчая их удаление из полости рта.
          .block.block--line
        li.reset-all.part-D.s-prof__item
          .s-prof__photo.photo.photo-3
          .ttu.color-base.bold.s-prof__caption
            .num
              p.text(data-xd!='OKSzqJL-41') 3
            span.text(data-xd!='cRfNAfs-42') Восстановление
          p.text.only-desktop.gutter-bottom(data-xd!='EbcHiFU-43') Поврежденная эмаль с микротрещинами темнеет, потому что свет хуже отражается.
          p.text(data-xd!='BppiSzQ-44') Гидроксиапатит #[span.color-imp.bold заполняет трещины и отшлифовывает поверхность.] Эмаль становится гладкой и блестящей, #[span.color-imp.bold восстанавливается цвет.]
          .block.block--line