section#reviews.s-review
  .container
    h2.title.color-base.center-t(data-xd!='VhxyQSC-4') ОТЗЫВЫ НАШИХ КЛИЕНТОВ:
    ul.reviews.grid-D.bxslider
      li.reviews__item.part-D
        .review
          .review__promo
            .change
              .change__item.photo.photo-4
                .block.block--orange(data-xd!='kwxBTCo-11') до
              .change__item.photo.photo-5
                .block.block--blue(data-xd!='zoHjYuA-13') после
            .block.block--line
          .review__content
            p.text(data-xd!='ihbydFd-16') Мне 44 года, половину своей жизни я комплексовала из за зубов. Такая генетика. Зубы были желтые, постоянно беспокоили десна. Высокая чувствительность была. К стоматологам кучу денег отнесла, но #[b ничего не приносило такого эффекта как DENTA SEAL. Спасибо производителям. Советую теперь всем перейти на эту пасту.]
          .review__bottom
            .block.block--gr(data-xd!='hDueoJh-19') Ольга
          ul.review__dotts
      li.reviews__item.part-D
        .review
          .review__promo.review__promo--small.photo.photo-8
            .block.block--line
          .review__content
            p.text(data-xd!='qKnkbca-26') Пасту стоматолог посоветовал. Я за зубами с детства слежу, раз в 3 месяца у доктора точно появлялась. Кариес полечить, налет убрать, пломбу поставить. Сейчас надобность вообще отпала. #[b.bold Доктор доволен состоянием моих зубов, я  тоже. Подруги думают я фотоотбеливание делала.]
          .review__bottom
            .block.block--gr(data-xd!='TKzRXQP-29') Мария
          ul.review__dotts
      li.reviews__item.part-D
        .review
          .review__promo
            .change
              .change__item.photo.photo-6
                .block.block--orange(data-xd!='xGjdKCc-36') до
              .change__item.photo.photo-7
                .block.block--blue(data-xd!='hUMhDbe-38') после
            .block.block--line
          .review__content
            p.text(data-xd!='VEAczKO-41') С возрастом зубы начали крошиться. Половина челюсти запломбирована, несколько зубов пришлось удалить даже. Полоскал корой дуба, чтобы сохранить хоть что-то и было чем жевать, но эмаль слабела с каждым днем. Дочка привезла эту пасту на пробу. #[b.bold Я очень доволен. Зубы перестали болеть, воспаление десен пропало.] Уже полгода к врачам не обращался.
          .review__bottom
            .block.block--gr(data-xd!='Xbizbpz-44') Михаил
          ul.review__dotts