section.s-sea
  .container
    .s-sea__fish
    .s-sea__grid
      .s-sea__part
        h2.title
          span.title__text(data-xd!='ItMlFoX-8') Micellar 
          span.title__text(data-xd!='hnbspSJ-9') water
          .title__info(data-xd!='yKdXphr-10') совершенствует любой тип кожи в любом возрасте
      .s-sea__part
        .perc
          .perc__num(data-xd!='tyWMGmu-13') 86%
          p.text(data-xd!='YfoFTBN-14') женщин отказались от привычных уходовых средств и декоративной косметики в пользу
        .band.band--blue
          .band__inner
            p.text(data-xd!='lgxMdzE-17') #[span.t--bold Micellar] Water