section.s-tooth
  .container
    .s-tooth__inner
      h2.title(data-xd!='LnwZhnb-5') Рекомендована для ежедневного применения и #[span.color-base подходит людям с брекетами]
      .center-t-M
        .button.button--border.toform
          button.button__text(data-xd!='GyBXwJS-8') Заказать сейчас
      .prod
        //removeIf(mobile)
        img.prod__img.only-desktop(src!="img/desktop/prod.png" alt!="")
        //endRemoveIf(mobile)