.name{
	@extend %reset;
	font-size: 52px;
	font-weight: 700;
	line-height: 0.95;
	max-width: 170px;
}


.info{
	@extend %reset;
	font-weight: 700;
	color: $colorExtra;
	max-width: 170px;
}


.price{
	font-size: 18px;
	&__info{
		@extend %reset;
		margin-bottom: 5px;
	}

	&__item{
		@extend %reset;
	}

	&__old{
		color: #97999a;
		text-decoration: line-through;
	}
	
	&__top{
		max-width: 170px;
	}


	&__new{
		color: $colorExtra;
		font-size: 42px;
	}
}




//=========== Общие настройки =============//
$button--font-size: 26px;												// Размер шрифта
$button--fw: 700;																// Плотность шрифта
$button--border-radius: 130px;										// Скругление углов
$button--color: #fff;														// Цвет текста
$button--bg: $colorExtra;																// Основной цвет
$button--gradient: none;												// градиент
$button--padding: 14px 28px 15px;											// padding
$button--shadow: none;													// Тень
$button--text-style:	none;											// Начертание теста
$button--border:	none;													// Border
$button--text-shadow: none;											// Тень текста
$button--transition : all .3s;									// transition
//=========== Общие настройки =============//






.button{
	max-width: 100%;
	display: inline-block;
	font-size: $button--font-size;
	color: $button--color;
	background: $button--bg;
	@if($button--gradient != none){
		background: $button--gradient;
	}
	@if($button--border != none){
		border: $button--border;
	}
	border-radius: $button--border-radius;
	font-weight: $button--fw;
	@if($button--text-shadow != none){
		text-shadow: $button--text-shadow;
	}
	@if($button--transition != none){
		transition: $button--transition;
	}
	@if($button--shadow != none){
		box-shadow: $button--shadow;
	}
	clear: both;
	position: relative;
	text-transform: $button--text-style;
	&:hover{
		transform: scale(1.05);
	}
	&__text{
		width: 100%;
		display: block;
		text-align: center;
		text-decoration: none;
		padding: $button--padding;
		font-size: inherit;
		color: inherit;
		background: none;
		border: none;
		border-radius: inherit;
		font-weight: inherit;
		text-shadow: inherit;
		font-family: inherit;
		outline: none;
		position: relative;
		cursor: pointer;
		text-transform: inherit;
	}

	&--border{
		border: 5px solid #fff;
	}
}





.ico{
	@extend %reset;
	display: inline-block;
	vertical-align: middle;
	background: no-repeat center / contain;
}


.ico{
	&-1{
		width: 29px;
		height: 37px;
		background-image: url(#{$imgPath}/ico-1.png);
	}

	&-2{
		width: 29px;
		height: 37px;
		background-image: url(#{$imgPath}/ico-2.png);
	}
	&-3{
		width: 42px;
		height: 30px;
		background-image: url(#{$imgPath}/ico-3.png);
	}
}




.photo{
	background: no-repeat center / cover;
	&-4{
		background-image: url(#{$imgPath}/before-1.jpg);
	}
	&-5{
		background-image: url(#{$imgPath}/after-1.jpg);
	}
	&-6{
		background-image: url(#{$imgPath}/before-2.jpg);
	}
	&-7{
		background-image: url(#{$imgPath}/after-2.jpg);
	}
	&-8{
		background-image: url(#{$imgPath}/photo.jpg);
	}
}

.text{
	@extend %reset;
}





.skills{
	@extend %reset;
	&__list{
		@extend %reset;
	}

	&__item{
		@extend %reset;
		margin-bottom: 12px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}

	.part{
		vertical-align: top;
		padding-bottom: 12px;
		&:first-of-type{
			text-align: center;
			width: 61px;
			padding-top: 2px;
		}
		&:last-of-type{
			border-bottom: 1px solid #bfeefe;
		}
	}

	&--desk{
		font-size: 20px;
		.skills__item{
			border: 1px solid #52d0ed;
			border-bottom: 0;
			padding: 15px 10px;
			margin-bottom: 0;
			&:last-of-type{
				border: 1px solid #52d0ed;
			}
		}
		.part{
			vertical-align: middle;
			padding-bottom: 0;
			&:first-of-type{
			
			}
			&:last-of-type{
				border-bottom: 0;
			}
		}
	}
}




.sale{
	@extend %reset;
	display: inline-block;
	position: relative;
	color: #fff;
	font-size: 20px;
	font-weight: 900;
	&:before{
		content: '';
		display: block;
		width: 90px;
		height: 90px;
		background: no-repeat center / contain;
		background-image: url(#{$imgPath}/stick.png);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		margin-left: 10px;
		margin-top: 11px;
	}
	&__inner{
		position: relative;
	}


}





.prod{
	display: inline-block;
	position: relative;
	.sale{
		position: absolute;
		top: 0;
		right: 0;
	}
}



.num{
	color: #fff;
	background: #53d0e7;
	background: linear-gradient(to right,#45cbf9,#84e5a8);
	display: inline-block;
	font-size: 36px;
	font-weight: 700;
	.text{
		padding: 6px 20px;
	}
}


.cover{
	.text{
		margin-bottom: 24px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}


.devider{
	border-bottom: 1px dashed #47ccfa;
	margin: 0 -6000px;
	padding: 0 6000px;
}


.title{
	@extend %reset;
	font-weight: 700;
}


.doc{
	.title{
		font-size: 32px;
		margin-bottom: 20px;
	}
	&__user{
		padding-left: 122px;
		position: relative;
		min-height: 115px;
		padding-top: 23px;
		margin-bottom: 20px;
	}

	&__content{
		.text{
			margin-bottom: 30px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}

	&__photo{
		width: 111px;
		height: 115px;
		background: no-repeat center / cover;
		background-image: url(#{$imgPath}/doc.jpg);
		position: absolute;
		bottom: 0;
		left: 0;
	}
}






















// .field 							- Класс обертка для input и select
// .field__input 				- Класс только для input
// .field__part					-	Класс для всех полей формы
// .field__select 			- Класс только для select
// .field__select-wrap	- Класс обертки для select


.field{
	// Поля ввода
	$field--bg-сolor: #fff;   													// Цвет всех полей
	$arrow--width: 45px;																// Ширина блока со стрелкой
	$field--b-radius: 0;															// Скругление углов для полей
	$fiels--color: #000;																	// Цвет текста в полях
	$field--padding: 15px 10px 15px 15px;								// padding полей
	$field--fz	: 18px;																	// Размер текста в полях
	$field--border: 0;									// Бордер у полей
	$field--ttu: none;																	// Регистр текста в полях
	$field--margin-bottom: 10px;												// Отступ с низу между полями  (10px)



	// Треугольник
	$field-arrow-on: true;															// Включать треугольник в css
	$field--arrow-size: 5px;														// Размер треугольника
	$field--arrow-color: #3a3a3a;												// Цвет треугольника
	$field--arrow-devider: none;												// Разделитель треугольника


	// Поля доставка, итого

	$field--first-col : 60%;															// Ширина первой колонки
	$field--last-col: 100% - $field--first-col;						// Ширина второй колонки (авто)
	$field--rows-fz: 18px;																// Размер шрифта
	$field--rows-color: #fff;															// Цвет текста цены
	$field--row-text-shadow: 1px 1px 1px #000;		// Тень текста полей доставки и итого





	@if($field--margin-bottom != none){
		margin-bottom: $field--margin-bottom;
	}
	&__part{
		display: block;
		width: 100%;
		background-color: $field--bg-сolor;
		border: $field--border;
		border-radius: $field--b-radius;
		font-size: $field--fz;
		font-weight: 200;
		padding: $field--padding;
		color: $fiels--color;
		outline: none;
		@if($field--ttu != none){
			text-transform: $field--ttu;
		}
		&::placeholder{
			color: $fiels--color;
		}

	}
	
	&__select-wrap{
		background: $field--bg-сolor;
		position: relative;
		border-radius: $field--b-radius;
		@if(-arrow-on){
			border: $field--border;
		}
		
	}

	@if($field-arrow-on){
		&__arrow{
			display: block;
			width: $arrow--width;
			height: 100%;
			background: transparent;
			@if($field--arrow-devider != none){
				border-left: $field--arrow-devider;
			}
			position: absolute;
			right: 0;
				&:before{
					content: '';
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					top: 3px;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					border-left: $field--arrow-size solid transparent;
					border-right: $field--arrow-size solid transparent;
					border-top: $field--arrow-size * 1.2 solid $field--arrow-color;
				}
			}

			&__select{
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				user-select: none;
				white-space: nowrap;
				text-indent: 0.01px;
				background: transparent;
				text-overflow: '';
				position: relative;
				cursor: pointer;
				border: none;
				color: $fiels--color;
				&::-ms-expand {
					display: none; 
				}
			}
	}
	
	&__row{
		display: table;
		width: 100%;
		table-layout: fixed;
		margin-bottom: 16px;
		font-size: $field--rows-fz;
		color: $field--rows-color;
		@if($field--row-text-shadow != none){
			text-shadow: $field--row-text-shadow;
		}
		.field__text{
			width: $field--first-col;
			display: table-cell;
		}
		.field__number{
			text-align: right;
			width: $field--last-col;
			display: table-cell;
			vertical-align: bottom;
		}
		&:last-child{
			.field__label{
				font-weight: 700;
				font-size: 1.25em;
				text-transform: uppercase;
			}
		}
	}
}


.field__text{
	text-align: left;
}





.form{
	text-align: center;
	color: #fff;
	background-color: $colorBase;
	padding: 42px 12px 36px;
	&__title{
		font-size: 26px;
		margin-bottom: 15px;
	}
	&__wrap{
		//display: inline-block;
		//width: 100%;
		margin-left: -$gutter;
		margin-right: -$gutter;
		max-width: 380px;
		background: #44cafb;
		background: linear-gradient(to right,#44cafb,#98f0a2);
		padding: 7px;
	}

	.price{
		background-color: rgba(#fff,.3);
		padding: 15px 10px;
		margin: 10px -12px;
		&__top{
			max-width: 100%;
		}

		&__info{
			margin-bottom: 0;
		}
	}


}










.label{
	text-align: right;
	display: inline-block;
	position: relative;
	padding: 5px;
	font-size: 16px;
	font-weight: 700;
	.text{
		position: relative;
		top: 12px;
	}
	&__inner{
		position: relative;
		padding: 0 8px;
		z-index: 10;
	}

	&__img{
		position: relative;
		padding-left: 36px;
		display: inline-block;
		&:before{
			content: '';
			display: block;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/tooth.png);
			width: 51px;
			height: 55px;
			position: absolute;
			bottom: -3px;
			left: -7px;
		}
	}
	&:before,&:after{
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		border-radius: 50%;
	}

	&:before{
		width: calc(100% + 10px);
		padding-bottom: calc(100% + 10px);
		background-color: rgba(#00529e,.07);
	}

	&:after{
		width: 100%;
		padding-bottom: 100%;
		background: #4fcfec;
		background: linear-gradient(45deg,#4fcfec,#8ce99d);
	}


}



.counter{
	font-size: 20px;
	border: 3px solid #6bdcd2;
	padding: 10px 4px;
	background-color: rgba(#fff,.7);
}


.block{
	display: inline-block;
	color: #fff;
	padding: 6px 10px;
	font-weight: 700;
	font-size: 20px;
	&--blue{
		background-color: #44cafb;
	}

	&--orange{
		background-color: #e3a864;
	}

	&--gr{
		background: #44cafb;
		background: linear-gradient(to right,#44cafb,#96efa4);
	}

	&--line{
		display: block;
		padding: 0;
		height: 4px;
			background: linear-gradient(to right,#44cafb 50%,#96efa4 50%);
	}
}


.reviews{
	@extend %reset;
	&__item{
		margin-bottom: 20px;
		padding: 0 5px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}

.review{
	@extend %reset;
	&__promo{
		min-height: 197px;
		&--small{
			position: relative;
			.block{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}
		}
	}

	&__promo{
		margin-bottom: 20px;
	}

	&__content{
		margin-bottom: 20px;
	}

	&__dotts{
		@extend %reset;
		position: absolute;
		bottom: 0;
		right: 0;
		&-item{
			@extend %reset;
			display: inline-block;
			margin: 0 10px;
			&:first-of-type{
				margin-left: 0;
			}
			&:last-of-type{
				margin-right: 0;
			}

			&.active{
				.review__dotts-link{
					background-color: $colorExtra;
				}
			}
		}
		&-link{
			@extend %reset;
			width: 24px;
			height: 24px;
			background-color: #4acdf4;
			cursor: pointer;
		}
	}
}


.change{
	&__item{
		min-height: 99px;
		position: relative;
		margin-bottom: 2px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}

	.block{
		position: absolute;
		bottom: 0;
		left: 0;
	}
	
}





















.play{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color: #fff;
	border: 2px solid;
	display: inline-block;
	position: relative;
	cursor: pointer;
	transition: .2s;
	&:before{
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-top: 12px solid transparent;
		border-left: 17px solid;
		border-bottom: 12px solid transparent;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		margin-left: 3px;
	}
}



.tv{
	&__video{
		background-color: #000;
		padding: 16px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		position: relative;
	}

	&__inner{
		position: relative;
		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: no-repeat center / cover;
			background-image: url(#{$imgPath}/poster.jpg);
			z-index: 1;
			transition: .2s;
		}
	}
	&__bottom{
		width: 100%;
		background: no-repeat center;
		background-image: url(#{$imgPath}/mac-bottom.png);
		height: 63px;
		margin-top: -2px;
	}

	.play{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 10;
		&:hover{
			transform: translate(-50%,-50%) scale(1.05);
		}
	}

	&--on{
		.play,.tv__inner:before{
			visibility: hidden;
			opacity: 0;
		}
	}
}


.tale{
	height: 454px;
	margin-left: -$gutter;
	margin-right: -$gutter;
	position: relative;
	&__box{
		position: absolute;
		background: no-repeat center / cover;
	}
}



.ship{
	&-1{
		background-image: url(#{$imgPath}/ship-1.jpg);
		width: 163px;
		height: 112px;
		top: 0;
		left: 0;
	}
	&-2{
		background-image: url(#{$imgPath}/ship-2.jpg);
		width: 150px;
		height: 182px;
		top: 0;
		right: 0;
	}
	&-3{
		background-image: url(#{$imgPath}/ship-3.jpg);
		width: 163px;
		height: 190px;
		left: 0;
		top: 119px;
	}
	&-4{
		background-image: url(#{$imgPath}/ship-4.jpg);
		width: 150px;
		height: 120px;
		top: 189px;
		right: 0

	}
	&-5{
		background-image: url(#{$imgPath}/ship-5.jpg);
		width: 320px;
		height: 137px;
		bottom: 0;
		left: 0;
	}
	&-6{
		background-image: url(#{$imgPath}/ship-6.jpg);
		width: 320px;
		height: 137px;
		top: 0;
		left: 0;
	}
	&-7{
		background-image: url(#{$imgPath}/ship-7.jpg);
		width: 163px;
		height: 190px;
		top: 144px;
		left: 0;
	}
	&-8{
		background-image: url(#{$imgPath}/ship-8.jpg);
		width: 150px;
		height: 120px;
		top: 144px;
		right: 0;
	}
	&-9{
		background-image: url(#{$imgPath}/ship-9.jpg);
		width: 163px;
		height: 112px;
		bottom: 0;
		left: 0;
	}
	&-10{
		background-image: url(#{$imgPath}/ship-10.jpg);
		width: 150px;
		height: 182px;
		right: 0;
		bottom: 0;
	}
}