.header{
	background: linear-gradient(to bottom,transparent,#ebfbff);
	.container{
		padding-top: 25px;
		padding-bottom: 58px;
		position: relative;
	}

	&__name{
		min-height: 181px;
	}

	.name{
		margin-bottom: 14px;
	}

	.info{
		margin-bottom: 50px;
	}


	.prod{
		position: absolute;
		top: 0;
		right: 0;
		max-width: 136px;
		top: 45px;
		.sale{
			right: 40px;
		}
	}

	.button{
		width: 100%;
	}

	.price{
		margin-bottom: 10px;
	}

	.button{
		margin-bottom: 20px;
	}

	.skills__simple{
		margin-left: -10px;
	}
}







.s-prof{
	.container{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.title{
		font-size: 26px;
		line-height: 1.1;
		margin-bottom: 30px;
	}
	


	&__part{
		&:first-of-type{
		
		}
		&:last-of-type{
			display: none;
		}
	}


	&__content{

	}

	&__item{
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #a6e6fd;
		&:last-of-type{
			margin-bottom: 0;
		}
	}

	.block--line{
		display: none;
	}

	.num{
		display: none;
	}

	&__caption{
		@extend %reset;
		margin-bottom: 10px;
	}


	&__photo{
		min-height: 250px;
		display: none;
	}
}











.s-hand{
	background: #56d2e7;
	background: linear-gradient(#58d3e6,#93eea7);
	.container{
		padding-top: 40px;
		padding-bottom: 40px;
		&:before{
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
			position: absolute;
			border-bottom: 16px solid #58d3e5;
			top: -16px;
			left: $gutter;
		}
	}

	.title{
		color: #fff;
		font-size: 36px;
		text-transform: uppercase;
		line-height: 1.1;
		margin-bottom: 30px;
	}
}





.s-doc{
	background-color: #fbfbfb;
	opacity: .99;
	position: relative;
	.container{
		padding-top: 30px;
		padding-bottom: 30px;
	}
}









.s-tooth{
	background: #53d1eb;
	background: linear-gradient(to right,#53d1eb,#94eea6);
	opacity: .99;
	.container{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.title{
		font-size: 32px;
		color: #fff;
		margin-bottom: 30px;
	}
}





.s-review{
	.container{
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.title{
		font-size: 36px;
		line-height: 1.2;
		margin-bottom: 20px;
	}
}









.s-form{
	.container{
		padding-top: 40px;
		padding-bottom: 40px;
	}


	&__prod{
		text-align: center;
	}


	.name{
		text-align: center;
		max-width: 100%;
		font-size: 48px;
		margin-bottom: 10px;
	}
	.title{
		text-align: center;
		margin-bottom: 42px;
		font-size: 24px;
	}

	.prod{
		.label{
			position: absolute;
			top: 30px;
			right: -50px;
		}

		.sale{
			top: -4px;
			left: 40px;
			right: auto;
		}
	}

	.counter{
		margin-bottom: 30px;
	}
}







.s-mac{
	.container{
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__top{
		text-align: center;
	}

	&__content{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.title{
		font-size: 36px;
	}

	.name{
		max-width: 100%;
		font-size: 44px;
		margin-bottom: 20px;
	}
}




.s-delivery{
	background-color: #fbfbfb;
	text-align: center;
	.container{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.title{
		font-size: 32px;
    color: #e59231;
    text-transform: uppercase;
    margin-bottom: 10px;
    
	}

	.name{
		max-width: 100%;
		text-transform: uppercase;
		font-size: 48px;
		color: #00529e;
		margin-bottom: 5px;
	}

	&__info{
		text-transform: uppercase;
		font-size: 18px;
		color: #333333;
		margin-bottom: 15px;
	}

	&__content{
		margin-bottom: 20px;
	}

	&__part{
		margin-bottom: 20px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}