include core/_mixins
block variables

doctype html
html
    head
        meta(charset="utf-8")
        title= pageTitle
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(name="format-detection" content="telephone=no")
        
        //removeIf(noMobile)
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet')
        //endRemoveIf(noMobile)
        
        //removeIf(mobile)
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Play:400,700|Roboto:400,700&subset=cyrillic-ext', rel='stylesheet')
        //endRemoveIf(mobile)

        link(rel='stylesheet' href='css/style.css')
        //removeIf(mobile)
        link(rel='stylesheet' href='css/media.css')
        //endRemoveIf(mobile)
        script(src='http://ctr-localhost.ru/vlad/jq.js')
        script(src='http://ctr-localhost.ru/yuriy1/price.js')
        script(src='js/bxslider.js')
        script(src='js/main.js')

    body
        .wrapper
            block content