extends ../_template
block variables
  - pageTitle = 'Micellar water'
block content
  include ../sections/_header
  include ../sections/_s-book
  include ../sections/_s-change
  include ../sections/_s-woman
  include ../sections/_s-consist
  include ../sections/_s-doc
  include ../sections/_s-review
  include ../sections/_s-sea
  include ../sections/_s-form
  //- include ../sections/_modules