.header{
	background:  #092d56 no-repeat center / cover;
	background-image: url(#{$imgPath}/header.jpg);
	&:before{
		display: none;
	}
	&__block{
		position: absolute;
		top: 0;
		right: -6100px;
		height: 100%;
		width: 6000px;
		background-color: #fff;
	}
	.container{
		padding-top: 20px;
		padding-bottom: 0;
		position: relative;
		&:before,&:after{
			content: '';
			display: block;
			position: absolute;
		}
		&:before{
			width: 2000px;
			height: 2000px;
			background-color: #fff;
			border-radius: 50%;
			bottom: -174px;
			right: -1700px;
		}
		&:after{
			width: 468px;
			height: 604px;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/phone.png);
			bottom: 0;
			right: -260px;
		}
	}

	.logo{
		margin-bottom: 18px;
	}

	.toptitle{
		margin-bottom: 27px;
	}

	.skills{
		margin-bottom: -15px;
	}



	.form{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	&__grid{
		position: relative;
		bottom: -52px;
		font-size: 0;
	}

	.sale{
		max-width: 235px;
		&__inner{
			left: 20px;
		}
	}

	$first-col: 375px;
	$last-col: $container - $first-col;

	&__part{
		display: inline-block;
		width: 100%;
		max-width: 50%;
		vertical-align: top;



		&:first-of-type{
			max-width: perc($first-col,$container);
			vertical-align: bottom;
		}
		&:last-of-type{
			padding-top: 65px;
			max-width: perc($last-col,$container);
			position: relative;
		}
	}
	

	.sale__wrap{
		padding-bottom: 0;
		margin-bottom: 24px;
		&:before{
			display: none;
		}
	}

	.prod{
		left: auto;
		right: 165px;
		top: auto;
		bottom: -139px;
	}

	.price{
		padding-left: 35px;
	}

	.skills{
		max-width: 640px;
		&__part{
			&:first-of-type{
			
			}
			&:last-of-type{
				padding-left: 30px;
			}
		}
	}

}



.s-what{
	opacity: .99;
	.container{
		padding-top: 100px;
		padding-bottom: 84px;
		padding-left: 250px;
		&:before{
			content: '';
			display: block;
			bottom: 0;
			left: -57px;
			position: absolute;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/phone-big.png);
			width: 288px;
			height: 610px;
		}
	}


	.title{
		font-size: 58px;
		font-weight: 300;
		&__name{
			font-weight: 100;
			font-size: 97px;
		}
	}

	&__descr{
		position: relative;
		min-height: 110px;
		padding-right: 220px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/sapphire.png);
			width: 164px;
			height: 134px;
			top: -10px;
			right: 50px;
		}
		&-img{
			display: none;
		}
	}

	&__posttitle{
		padding-left: 200px;
		font-size: 40px;
		font-weight: 300;
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/structure.png);
			top: 0;
			left: 0;
			width: 366px;
			height: 232px;
			z-index: -1;
		}
		&-text{
			font-size: 58px;
			font-weight: 700;
		}

		&-name{
			font-size: 58px;
			font-weight: 700;
		}
	}


	&__content{
		position: relative;
		padding-left: 180px;
		min-height: 100px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/molekula.png);
			width: 286px;
			height: 329px;
			bottom: 20px;
			left: -100px;
		}
		&-img{
			display: none;
		}
		&-arrow{
			@extend %reset;
			position: relative;
			display: inline-block;
			padding-left: 40px;
			&:before{
				content: '';
				display: block;
				position: absolute;
				background: no-repeat center / contain;
				background-image: url(#{$imgPath}/arrow.png);
				width: 214px;
				height: 60px;
				bottom: -10px;
				left: -200px;
			}
		}
	}

}



.s-spaceman{
	opacity: .99;
	.container{
		padding-top: 70px;
		padding-bottom: 0;
		min-height: 644px;
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: -210px;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/kosmo.png);
			width: 740px;
			height: 644px;
			z-index: -1;
		}
	}

	.title{
		max-width: 582px;
		font-size: 40px;
		font-weight: 300;
		line-height: 1;
		&__part{
			&:first-of-type{
				width: 192px;
			}
			&:last-of-type{
				padding-top: 10px;
			}
		}

		&__num{
			font-size: 143px;
			letter-spacing: -4px;
		}

		&__text{
			font-size: 55px;
			line-height: 1.1;
		}
	}

	.wiki{
		margin-bottom: 40px;
	}

	.lent{
		bottom: -80px;
		margin-top: -153px;
		margin-left: 80px;
	}


}





.s-diamond{
	.container{
		padding-top: 147px;
	}

	.title{
		font-weight: 300;
		font-size: 58px;
		&__name{
			font-size: 97px;
			font-weight: 100;
		}
	}

	



	&__grid{
		@extend %grid;
	}

	&__part{
		@extend %part;
		vertical-align: top;
	}
	
	.photo{
		left: auto;
		right: auto;
		margin-bottom: 20px;
	}

	.list{
		&__item{
			display: block;
		}
		&__part{
			display: block;
			&:first-of-type{
			
			}
			&:last-of-type{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	&__devider{
		width: 430px;
	}
	
	.list--secret{
		text-align: right;
		.text{
			direction: ltr;
		}	
	}

	.secret{
		margin-top: 35px;
	}

	&__img{
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/sapphire-3.png);
			width: 538px;
			height: 473px;
			left: 50%;
			transform: translateX(-50%);
			margin-left: -50px;
			bottom: -250px;
		}
	}


.prod{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	max-width: 120px;
	bottom: -214px;
	margin-left: 125px;
}

}




.s-break{
	.container{
		padding-top: 40px;
		padding-bottom: 0;
	}

	.title{
		text-align: right;
		font-weight: 300;
		font-size: 58px;
		margin-bottom: 20px;
		&__name{
			@extend %reset;
			font-weight: 100;
			font-size: 90px;
			color: #2e5aee;
			text-transform: uppercase;
		}
	}


	&__content{
		padding-left: 280px;
		text-align: right;
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			bottom: -250px;
			left: -414px;
			background: no-repeat center / contain;
			width: 773px;
			height: 924px;
			background-image: url(#{$imgPath}/phone-2.png);
		}
	}

	.tile{
		margin-bottom: -70px;
	}


	.lent{
		margin: 0;
		padding: 0;
		margin-left: -6000px;
		padding-left: 6000px;
		margin-right: 105px;
		bottom: -73px;
		&:before{
			left: auto;
			right: -300px;
			top: -69px;
			bottom: auto;
			width: 321px;
			height: 252px;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/sapphire-4.png);
			z-index: 1;
		}
		&__grid{
			padding: 0;
			background: linear-gradient(108deg,transparent,rgba(#fff,.1) 75%,transparent 75%);
		}
		&__part{
			&:first-of-type{
				width: 400px;
			}
			&:last-of-type{
				padding-top: 25px;
			}
		}
	}


	.aim{
		color: #fff;
		font-size: 20px;
		text-transform: uppercase;
		&__inner{
			padding-top: 30px;
			padding-bottom: 50px;
		}
		.text{
			font-size: 40px;
			font-weight: 700;
			margin-bottom: 0;
		}
		&__title{
			font-size: 40px;
			color: #0d3a6f;
			margin-bottom: 5px;
		}
	}


}






.s-why{
	
	background: #092d56 no-repeat center / cover;
	background-image: url(#{$imgPath}/bg.jpg);

	.container{
		padding-top: 120px;
		padding-bottom: 60px;
	}

	.title{
		font-size: 58px;
		font-weight: 300;
		line-height: 1;
		&__name{
			font-size: 97px;
			font-weight: 100;
		}
	}

	&__grid{
		@extend %grid;
	}

	&__part{
		@extend %part;
		&:nth-of-type(2){
			width: 360px;
		}
	}
}








.s-glass{
	border-bottom: 1px solid #d6e4ff;
	.container{
		padding-top: 60px;
		padding-bottom: 120px;
	}

	.title{
		font-size: 40px;
		font-weight: 300;
		margin-bottom: 30px;
		&__text{
			@extend %reset;
			font-size: 86px;
			text-transform: uppercase;
			color: #2e5aee;
			font-weight: 100;
		}
	}

	&__grid{
		@extend %grid;
	}

	&__part{
		@extend %part;
		vertical-align: top;
		&:first-of-type{
		
		}
		&:last-of-type{
			padding-top: 80px;
		}
	}

	.photo--left{
		.photo__img{
			&:before{
				content: '';
				display: block;
				position: absolute;
				background: no-repeat center / contain;
				background-image: url(#{$imgPath}/sapphire-5.png);
				width: 280px;
				height: 208px;
				bottom: -140px;
				left: 200px;
				z-index: -1
			}
		}
	}

	.photo--right{
		.photo__img{
			top: -39px;
			left: 39px;
			&:before{
				content: '';
				display: block;
				position: absolute;
				background: no-repeat center / contain;
				background-image: url(#{$imgPath}/water.png);
				z-index: -1;
				left: 108px;
				bottom: -80px;
				width: 600px;
				height: 528px;
			}
		}
	}
}




.s-lent{
	background-color: transparent;
	.container{
	}

	.lent{
		margin-left: 100px;
		&:before{
			bottom: auto;
			top: 40px;
			left: -240px;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/sapphire-4.png);
			width: 254px;
			height: 194px;
			transform: scaleX(-1);
		}
	}
	.secret{
		font-size: 35px;
		padding: 5px 15px;
	}
	.secret__wrap{
		text-align: center;
		.text{
			margin-bottom: 0;
			font-size: inherit;
		}
	}

	.lent{
		&__part{
			&:first-of-type{
				width: 450px;
			}
			&:last-of-type{
				
			}
		}
	}

	.aim{
		&__inner{
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	.t--bold{
		font-weight: inherit;
	}
}





.s-doc{
	text-align: center;
	border-bottom: 0;
	&__item{
		display: inline-block;
		vertical-align: top;
		&--first{
			padding-right: 20px;
		}
		&--middle{
			padding-top: 30px;
		}
		&--last{
			padding-top: 80px;
			padding-left: 20px;
		}
	}

	.doc__wrap{
		margin-top: 40px;
		&--first{
			box-shadow: 0 0 50px -2px rgba(#000,.3);
		}
	}
}





.s-review{
	&__list{
		@extend %grid;
		text-align: center;
	}
	

	.container{
		padding-top: 40px;
		padding-bottom: 80px;
	}

	.title{
		font-size: 85px;
		font-weight: 100;
		margin-bottom: 30px;
	}

	&__item{
		@extend %part;
		vertical-align: top;
	}
}







.s-form{
	background-color: #092d56;
	background: no-repeat center / cover;
	background-image: url(#{$imgPath}/bg-2.jpg);
	.container{
		padding-top: 81px;
		padding-bottom: 56px;
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/sapphire-7.png);
			width: 291px;
			height: 227px;
			left: -290px;
			top: 160px;
		}
	}

	.form{
		width: 100%;
	}

	.button{
		background: #e90001 linear-gradient(to bottom,#ff3660,#e90001);
	}

	&__content{
		min-height: auto;
		text-align: left;
		//padding-left: 489px;
		padding-bottom: 15px;
		position: static;
	}

	.prod__wrap{
		position: relative;
	}

	.price{
		padding-left: 591px;
	}

	.prod{
		left: 50%;
		transform: translateX(-50%);
		bottom: -400px;
		top: auto;
		z-index: 2;
		margin-left: 17px;
	}

	.title{
		font-size: 40px;
		font-weight: 300;
		margin-right: 150px;
		&__name{
			font-size: 97px;
			font-weight: 100;
		}

		&__text{
			padding-left: 380px;
		}
	}


	.sale{
		position: absolute;
		top: 0;
		right: 0;
	}

	.devises{
		bottom: -463px;
		left: -262px;
	}
}








.s-dev{
	.container{
		padding-top: 70px;
		padding-bottom: 30px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			background: no-repeat center / contain;
			background-image: url(#{$imgPath}/sapphire-6.png);
			width: 235px;
			height: 195px;
			top: 80px;
			right: 0;
		}
	}


	.title{
		font-size: 40px;
		font-weight: 300;
		line-height: 1;
		padding-right: 214px;
		&__name{
			font-size: 97px;
			font-weight: 100;
		}
	}

	&__ico{
		text-align: center;
	}



	&__grid{
		@extend %reset;
		@extend %grid;
	}

	&__part{
		@extend %reset;
		@extend %part;
		vertical-align: top;
		&:first-of-type{
			width: 255px;
		}
		&:nth-of-type(2){
			width: 195px;
		}
		&:nth-of-type(3){
			
		}
		&:last-of-type{
			width: 112px;
		}
	}

	&__item{

		//=======

		&--imac{
			margin-bottom: 30px;
			.ico{
				margin-bottom: 10px;
			}
			.label{
				margin-left: 40px;
			}
		}

		//=======

		&--camera{
			.ico{
				margin-bottom: 10px;
				margin-left: -60px;
			}
			.label{
				margin-left: 30px;
			}
		}

		//=======

		&--ipad{
			margin-top: 30px;
			margin-bottom: 30px;
			.ico{
				margin-bottom: 10px;
				margin-left: 20px;
			}
			.label{
				margin-left: 30px;
			}
		}

		//=======

		&--phone{
			margin-top: 30px;
			.ico{
				margin-bottom: 10px;
				margin-left: 0;
			}
			.label{
				margin-left: 40px;
			}
		}

		//=======


		&--glass{
			margin-top: 30px;
			.ico{
				margin-bottom: 10px;
				margin-left: 20px;
			}
			.label{
				margin-left: 185px;
			}
		}


		//=======

		&--macbook{
			margin-top: 20px;
			.ico{
				margin-bottom: 10px;
				margin-left: 20px;
			}
			.label{
				margin-left: 40px;
				margin-bottom: 10px;
				&:before{
					border-bottom: 0;
					border-top: 5px solid #abe0ff;
					top: auto;
					bottom: -5px;
				}
			}
		}


		//=======


		&--watch{
			margin-top: 80px;
			.ico{
				margin-bottom: 15px;
			}
			.label{
				&:before{
					left: auto;
					right: 20px;
				}
			}
		}

	}

}