%grid-m{
  display: table;
  table-layout: fixed;
  width: 100%;
}

%part-m{
  display: table-cell;
  vertical-align: top;
  &:first-of-type{
  
  }
  &:last-of-type{
    
  }
}

@mixin grid(){
  @extend %grid-m;
}

@mixin part(){
  @extend %part-m;
}

.comments{
  .comment{
    display: block;
  }
}

.title{
  font-size: 26px;
}

// Сетка
.main__grid{
  @include grid();
}

.main__part{
  @include part();
  &--first{
    padding-right: 10px;
  }
  &--last{
    width: 300px;
  }
}
