%grid{
  display: table;
  table-layout: fixed;
  width: 100%;
}

%part{
  display: table-cell;
  vertical-align: top;
  &:first-of-type{
  
  }
  &:last-of-type{
    
  }
}

@mixin grid(){
  @extend %grid;
}

@mixin part(){
  @extend %part;
}

p{
  margin-top: 0;
  margin-bottom: 20px;
  &:last-of-type{
    margin-bottom: 0;
  }
}

a{
  color: $colorBase;
  font-weight: 700;
  &:hover{
    text-decoration: none;
  }

}

.title{
  @extend %reset;
}


.comments{
  @extend %reset;
  text-align: left;
  .comment{
    margin-bottom: 10px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  .comment{
    display: none;
  }

  .comment:nth-last-of-type(-n + 5) {
    display: block;
  }
}

.comment{
  @extend %reset;
}
