
// Точка входа (корневой файл)

// libs (Кастомная библиотека)
@import 'libs/orb/_orb.scss';


// core
// Переменные
@import 'core/_vars.scss';
// Базовые стили
@import 'core/_base.scss';

// Подключаемые модули
@import 'modules/_classes.scss';

// Основные стили 
@import 'styles/_mobile.scss';




.only{
    &-mobile{
        display: block;
    }
    &-desktop{
        display: none;
    }
}







@media only screen and (min-width: $notebook ){
    

    body,html{
        font-family: $fontBase;
    }





    .container{
        max-width: $container;
    }








// Основные стили для media
@import 'styles/_desktop.scss';

}

